/*- [ General - */
body { font-family:Arial; font-size:100%; color:#333; }
body, div, h1, h2, h3, h4, h5, h6, p, form, dl, dl dt, dl dd, pre { margin:0; padding:0; text-align:left; }
h1, h2, h3, h4, h5 {
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
}
pre { font-family:Arial, Geneva, sans-serif; white-space:pre-wrap; }
ul, li { text-align:left;list-style:none; }
img { border:none; vertical-align:middle; }
fieldset { border:none; background:none; margin:0; padding:0; }
fieldset legend { display: none; }
a { text-decoration:none; text-align:left; color:#0066cc;outline:none !important; }
a:hover { text-decoration: none; }
button, input { font-family:Arial; margin:0; padding:0; }
textarea { font-family:Arial; padding:0px; margin:0px; overflow:hidden; resize:none; vertical-align:bottom; outline:none; overflow-y:auto; }
select { font-family:Arial; }
select option { padding:0 4px; }
.FixFloat { overflow:hidden; height:auto; }
.Clear { clear:both; padding:0 !important; }
.ClearRight { clear:right; }
.ClearLeft { clear:left; }
.Wordwrap { word-wrap:break-word; }
.Wordbreak { display: inline-block; }
.HideText { text-indent:-1000em; display:block; overflow:hidden; height:auto; }
.HideDiv { display:none; }
.VisibleDiv { visibility:hidden; }
.ResetList, .ResetList li { margin:0; padding:0; list-style:none; }
object, embed { outline:none; }
input[disabled="disabled"] { background-color:#ededed; color:#333333; border:1px solid #D0DBEA; }
/*- ] General -*/

/*- [ Common -*/
#container {
	background-color: #1d2939;
}
.refreshIcon { cursor: pointer; }
/* .Sprite1 { background-image:url(../images/bg_sprites1.png); background-repeat:no-repeat; } */
.Sprite1 { background-image:url(../images/bg_sprites1_change_pass.png); background-repeat:no-repeat; }
.CustomStyleSelectBoxInner { height:20px; line-height:20px; }
.MySelectBoxClass { opacity: 0; position: absolute; cursor:pointer; }
span.CustomStyleSelectBox { background:#fff url(../images/bg_sprites1.png) right -324px no-repeat; border:1px solid #c4c4c4; color:#333; overflow:hidden; padding:0 22px 0 9px; font-weight:normal; padding: 5px; border-radius: 3px;}
.SelecSection span.CustomStyleSelectBox { border: 1px solid #98c2ce; }
.BoxSelect { margin-bottom:9px; }
.BoxSelectM { margin-right:5px !important; }
.MySelectBoxClass { height:30px !important; }
.BoxDisSelect span.CustomStyleSelectBox { background:url(../images/bg_sprites1.png) right -40px no-repeat; color:#999999; }
.BoxSelect1 .MySelectBoxClass { width:226px; }
.BoxSelect1 .CustomStyleSelectBoxInner { width:193px; }
.BoxSelect2 .MySelectBoxClass { width:208px; }
.BoxSelect2 .CustomStyleSelectBoxInner { width:173px; }
.BoxSelect3 .MySelectBoxClass { width:193px; }
.BoxSelect3 .CustomStyleSelectBoxInner { width:160px; }
.BoxSelect4 .MySelectBoxClass { width:283px; }
.BoxSelect4 .CustomStyleSelectBoxInner { width:250px; }
.BoxSelect5 .MySelectBoxClass { width:187px; }
.BoxSelect5 .CustomStyleSelectBoxInner { width:154px; }
.BoxSelect6 .MySelectBoxClass { width:148px; }
.BoxSelect6 .CustomStyleSelectBoxInner { width:113px; }
.BoxSelect7 .MySelectBoxClass { width:264px; }
.BoxSelect7 .CustomStyleSelectBoxInner { width:231px; }
.BoxSelect8 .MySelectBoxClass { width:553px; }
.BoxSelect8 .CustomStyleSelectBoxInner { width:520px; }
.BoxSelect9 .MySelectBoxClass { width:254px; }
.BoxSelect9 .CustomStyleSelectBoxInner { width:221px; }
.BoxSelect10 .MySelectBoxClass { width:155px; }
.BoxSelect10 .CustomStyleSelectBoxInner { width:122px; }

.BoxSelect11 .MySelectBoxClass { width:80px; }
.BoxSelect11 .CustomStyleSelectBoxInner { width:80px; }

.BoxSelect12 .MySelectBoxClass { width:100px; }
.BoxSelect12 .CustomStyleSelectBoxInner { width:100px; }

.PhotoSearchSection .BoxSelect3 .MySelectBoxClass { width:114px; }
.PhotoSearchSection .BoxSelect3 .CustomStyleSelectBoxInner { width:81px; }
#logo, .AccountFuncList li, #logo a span, .MenuList li, .BreadcrumbList li, .SearchSection, .GuideMapSection, .TSSection, .BtnLSection, .ContentFunc .Text1Style, .Dl2Style dt, .Dl2Style dd, .ComboTreeSection, .ContentSection, .SidebarSection, .CalendarLink, .Dl3Style dt, .Dl3Style dd, .Dl4Style dt, .Dl4Style dd, .GeneralForm .InputTextStyle, .NCSList li, .ImportExcel1Form .LabelStyle, .UploadFileSection, .SearchSection .BoxSelect, .GeneralSSection .InputTextStyle, .GeneralSSection .LabelStyle, .Func1Section, .Func1Section .DownloadSFileStyle, .Func1Section .BtnGeneralStyle, .Func2Section .LabelStyle, .Func2Section .BtnGeneralStyle, .GeneralDetail2Section .Text1Style, .GeneralDetail1Section .Text1Style, .GeneralDetail1Section .BoxSelect, .GeneralDetail1Section, .CTTT1Form .LabelStyle, .Search1Form .LabelStyle, .Search1Form .BtnSearchStyle, .Search1Form .BoxSelect, .ValueStyle, .GeneralMedia1Section, .MediaThumbList li, .Search1Form .BtnSearchStyle, .PhotoCols1, .TempStyle, .PhotoGroupList li, .PhotoCols2, .PhotoList li,
.SearchInSection .LabelStyle, .InputTextStyle, .Func1Section .BoxSelect, .BoxSelect, .InputCbxStyle, .InputRdoStyle, .SProductForm1Cols, .SProductForm2Cols, .SProductForm3Cols, .SProductForm4Cols, .SProductForm5Cols, .SProductForm7Cols, .TabSection li, .Sidebar1Section, .Content1Section, .Content3Section, .CYList li, .ChildMenuSectionList li, .InfoShop .Avatar { float:left; }
.AccountFuncSection, .GuideMapSection label, .ContentFunc .Text2Style, .MenuList .EndItem, .Func2Section, .BtnRSection, .GeneralDetail2Section, .GeneralMedia2Section, .GeneralNoTP1Form, .BoxImageMap a.SeeFull, .BoxEditStateLoop .BtnClose, .BtnGeneralRStyle, .FloatRight { float:right; }
#logo h1 { margin-top: 0px; margin-bottom: 0px;}
/** Begin vuongmq; 16/11/2015; LabelLeftStyle*/
.SearchInSection .LabelLeftStyle, .Search1Form .LabelLeftStyle { float:left; }
.SearchInSection .LabelLeftStyleM1, .Search1Form .LabelLeftStyleM1 { float:left; }
.SearchInSection .LabelLeftStyleM2, .Search1Form .LabelLeftStyleM2 { float:left; }
.SearchInSection .LabelLeftStyleM3, .Search1Form .LabelLeftStyleM3 { float:left; }
.SearchInSection .LabelLeftStyleM4, .Search1Form .LabelLeftStyleM4 { float:left; }
.SearchInSection .LabelLeftStyleM5, .Search1Form .LabelLeftStyleM5 { float:left; }
.SearchInSection .LabelLeftStyleM6, .Search1Form .LabelLeftStyleM6 { float:left; }
.SearchInSection .LabelLeftStyleM7, .Search1Form .LabelLeftStyleM7 { float:left; }
.SearchInSection .LabelLeftStyleM8, .Search1Form .LabelLeftStyleM8 { float:left; }
.SearchInSection .LabelLeftStyleM9, .Search1Form .LabelLeftStyleM9 { float:left; }
.SearchInSection .LabelLeftStyleM10, .Search1Form .LabelLeftStyleM10 { float:left; }
.SearchInSection .LabelLeftStyleM11, .Search1Form .LabelLeftStyleM11 { float:left; }
.SearchInSection .LabelLeftStyleM12, .Search1Form .LabelLeftStyleM12 { float:left; }
/** End vuongmq; 16/11/2015; LabelLeftStyle*/
.ErrorMsgStyle { color:#F00; }
.InputFileStyle { opacity:0; }
.RichTextSection { font-size:12px; margin:4px 0 5px; width:540px; line-height:1.5em; }
.InputCbxStyle, .InputRdoStyle { margin:4px 4px 0 0; }
.LabelCStyle { color:#333 !important; }
.LabelNPStyle { padding-top:0 !important; margin-top:-6px !important; }
.BoldStyle { font-weight:bold; }
.TotalText {text-align:center; font-weight:bold; font-size: 14px}
.LoadingStyle { width:30px; height:30px; }
p.genInfo {color: #FFFFFF;font-size: 1em;font-weight: bold;}
/*- ] Common -*/

/*- [ Header -*/
.HeaderBgSection { 
	background: #264670; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #264670, #fff); /*Safari 5.1-6*/
    background: -moz-linear-gradient(right, #264670, #fff); /*Fx 3.6-15*/
	padding-bottom:0px;
	padding-top:12px; }
.DmsOneLogo { background-position:0px 0px; width:auto; height:24px; margin:0 8px 0 0; background-image: url("../images/salesOne.png");}
.VinamilkLogo { background-position:right 0px; width:108px; height:17px; margin:3px 0 0; }
.TaraLogo { background-position:right -1460px; width:108px; height:19px; margin:3px 0 0; }
/* .AccountFuncSection { padding:4px 0 0; }
.AccountFuncList li { font-size:1.25em; font-weight:bold; background:url(../images/bdr_account.jpg) right center no-repeat; padding:0 10px 0 0; }
.AccountFuncList li.LogoutItem { background:none; padding:0 0 0 10px; }
.AccountFuncList li, .AccountFuncList li a { color:#fff; } 
.AccountFuncList li.LogoutItem a { background-position:0px -112px; padding:0 0 0 18px; }*/
.AccountFuncSection { padding:4px 0 0; }
.AccountFuncList li { font-size:0.9em; font-weight:bold; background: url("../images/bdr_account.jpg") no-repeat scroll right center rgba(0, 0, 0, 0); padding:0 10px 0 0;}
.AccountFuncList li.LogoutItem { background:none; padding:0 0 0 10px; }
.AccountFuncList li, .AccountFuncList li a { color:#fff; }
.AccountFuncList li.LogoutItem a { background-position:0px -114px; width:20px; height:20px; display:block; }
.BreadcrumbSection { position:relative;
	padding: 5px;
    border-bottom: 1px solid #d3d7db;
    border-top: 1px solid #eee;
    background: #f7f7f7;
    font-size: 24px;
    color: #1D2939;
    letter-spacing: -0.5px;
    line-height: 30px; }
.BreadcrumbSection .BreadcrumbList { padding:8px 0 5px 12px; }
.BreadcrumbSection .BreadcrumbList .Sprite1 { display:none; }
.BreadcrumbList li { font-size:0.95em; font-weight:bold; background-position:right -77px; padding:0 10px 0 0; margin:0 5px 0 0; }
.BreadcrumbList li a { color:#0099cc; }
/*-[- Menu*/
.MenuSection { background:url(../images/bg_menu.jpg) left top repeat-x; }
.MenuList > li { font-size:0.875em; font-weight:bold; margin:0 1px 0 0; position:relative; }
.MenuList > li > a { color:#04528e; text-transform:uppercase; display:block; padding:10px 22px; text-shadow:1px 1px 0 #fff; }
.MenuList > li > a:hover, .MenuList > li > a.Active { color:#fff; background:url(../images/bg_menuOn.jpg) left top repeat-x; text-shadow:1px 1px 0 #3a849c; }
.MenuList > li.EndItem { padding-right:10px; }
.MenuList > li.EndItem > a { padding:10px 0; }
.MenuList > li.EndItem > a:hover { color:#04528e; background:none; text-shadow:1px 1px 0 #fff; }
.MenuList li .SubMenuList { position:absolute; background-color:#fff; border:1px solid #45b5db; border-bottom:none; width:190px; display:none; z-index:100001; }
.MenuList li:hover .SubMenuList { display:block; }
.MenuList .SubMenuList li { font-size:0.875em; font-weight:normal; border-bottom:1px solid #45b5db; float:none; }
.MenuList .SubMenuList li a { color:#333; display:block; padding:5px 5px 5px 15px; }
.MenuList .SubMenuList li a:hover, .MenuList .SubMenuList li a.HasSubMenuItem { background-color:#d0edf5; }
.MenuList .SubMenuList li a.HasSubMenuItem { background-image:url(../images/icon_submenu.png); background-position:5px center; background-repeat:no-repeat; }
.MenuList li .SubMenuList li .SubMenuList { position:static; border:none; }
.MenuList li .SubMenuList li .SubMenuList li { font-size:1em; border-top:1px solid #45b5db; border-bottom:none; }
/** begin change pass*/
.MenuChildSection { display:none; }
.MenuChildSection .ChildMenuSectionList { position:absolute; top:33px; color:#333; width:auto; background:#FFF; border:1px solid #076289; padding:1px; display:block; font-weight:normal; min-width:184px; }
.ChildMenuSectionList li { width:100%; margin:0; padding:4px 0; }
.ChildMenuSectionList > li { border-bottom:1px solid #D6D6D6; }
.ChildMenuSectionList > li.EndItem { border-bottom:none; }
.ChildMenuSectionList > li:hover, .MenuChildSection .ChildMenuSectionList li.Item1:hover { background:#daecf5; }
.MenuChildSection .ChildMenuSectionList .MenuLevel2List li:hover { background:#fff; }
.ChildMenuSectionList li.Item1 { border-bottom:none; padding:0; height:0; }  
.ChildMenuSectionList li a { color:#333; padding:0 15px; display:block; font-size:12px; outline:none !important; }
.ChildMenuSectionList li.Item1 > a.Item1 { background-position:44px -1910px; padding:9px 0 0px 150px; display:inline; }
.MenuChildSection .ChildMenuSectionList li a.MenuLevel2 { font-weight:bold; }
.MenuChildSection .ChildMenuSectionList li a.MenuLevel2.Collapse { background-position:5px -1859px; }
.MenuChildSection .ChildMenuSectionList li a.MenuLevel2.Expand { background-position:5px -1881px; }
.MenuChildSection .ChildMenuSectionList .MenuLevel2List { display:none; }
.MenuChildSection .ChildMenuSectionList .MenuLevel2List li a { padding-left:30px; }
.AccOption .ChildMenuSectionList { position:absolute; top:31px; right:13px; color:#333; width:200px; background:#FFF; border:1px solid #076289; padding:1px; display:block; font-weight:normal; z-index: 2000}
.AccOption .ChildMenuSectionList li:hover { background:#daecf5; }
.AccOption .ChildMenuSectionList li > a.Item1 { display:inline; padding:12px 0 0 150px; background-position:185px -1911px }
.AccOption .InfoShop { margin:0px 0 0 10px; }
.AccOption .InfoShop .Avatar { margin-right:10px; }
.AccOption .InfoShop p { font-size:12px; display:block; font-weight:bold; }
.AccOption .InfoShop p.Text1Style { color:#0099cc; }
/** end change pass*/
/*- ] Menu -*/
/*- ] Header -*/

/*-[- Content*/
#boxSearch { display:none; }
.LinkSearch { text-align:right; color:#0099CC; padding:0 4px; float:right; text-transform:none; }
.BtnGeneralDStyle { color:#c0bebe !important; }
.BtnCenterSection { text-align:center; padding:5px 0 0; }
.BtnMSection { margin-right:5px; }
.BtnGeneralStyle { font-weight:bold; cursor:pointer; overflow:visible; font-size:1em; }
.BtnGeneralDStyle:hover { background:url(../images/bg_input1.jpg) left top repeat-x !important; }
.GeneralForm .BtnGeneralStyle, .SidebarInSection .BtnGeneralStyle  { 
	background-image: none;
    border: 1px solid transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    transition: all 0.2s ease-out 0s;
    padding: 9px 15px;
    border-radius: 3px;
    line-height: 21px;
    background-color: #428bca;
    color:#fff;
    border-color: #357ebd; }
    
.SProduct1Form .BtnGeneralStyle { 
	 }
.SidebarInSection .BtnGeneralStyle { width:97%; font-size:1em; position:absolute; bottom:-30px; left:1.5%; right:0; }
.GeneralForm .BtnGeneralDStyle { color:#999999; }
.GeneralForm .BtnGeneralStyle:hover, .SidebarInSection .BtnGeneralStyle:hover, .SProduct1Form .BtnGeneralStyle:hover, .SearchSection .BtnGeneralStyle:hover { 
	background-color: #3071a9;
    border-color: #285e8e; }
.SearchSection .BtnGeneralStyle { 
	background-image: none;
    border: 1px solid transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    transition: all 0.2s ease-out 0s;
    padding: 9px 15px;
    border-radius: 3px;
    line-height: 21px;
    background-color: #428bca;
    color:#fff;
    border-color: #357ebd; }
a.BtnGeneralStyle { display:inline-block; }
.CtnOneColSection .ContentSection { padding:10px; width:100%; background-color: #e4e7ea; }
.MapSection img, .TextEditorForm img, .MediaPlayerSection img { width:100%; }
.MapSection { position:absolute; bottom:0; right:0; }
.LargeMapSection { width:488px !important; height:409px !important; }
.SmallMapSection {    height: 126px !important;    width: 140px !important;}
/* .SmallMapSection {    height: 23.8% !important;    width: 140px !important;} */
.SearchSection { width:36%; }
.GeneralSSection { width:100%; }
.TSSection { float: right; width: 141px;  }
.SearchInSection { border-right:1px solid #c6d5db; padding:8px 12px; }
.BLineSection { border-bottom:1px solid #C6D5DB !important; }
.GeneralSSection .SearchInSection { border:none; }
.SearchSection .ComboTreeSection, .GeneralSSection .BoxSelect { margin-right:10px; }
.GuideMapInSection { border-left:1px solid #fff; border-right:1px solid #c6d5db; padding:5px 22px 7px 0; }
.TSInSection { border-left:1px solid #fff; padding:9px 0 0 12px; }
.SearchSection, .GuideMapSection, .TSSection { font-size:1em; }
.GuideMapSection label { margin:0 0 0 32px; }
.GuideMapSection label, .TSSection label { font-weight:bold; }
.GuideMapSection label input, .TSSection label input { margin:0 8px 0 0; vertical-align:middle; }
.GuideMapSection .LabelStyle span { padding:6px 0 5px 24px; display:inline-block; vertical-align:middle; }
.GuideMapSection .Label1Style span { background-position:-188px -215px; }
.GuideMapSection .Label2Style span { background-position:-90px -215px; }
.GuideMapSection .Label3Style span { background-position:0px -215px; }
/** Begin vuongmq; 16/11/2015; LabelLeftStyle*/
.GeneralForm .LabelLeftStyle, .GeneralSSection .LabelLeftStyle { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM1, .GeneralSSection .LabelLeftStyleM1 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM2, .GeneralSSection .LabelLeftStyleM2 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM3, .GeneralSSection .LabelLeftStyleM3 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM4, .GeneralSSection .LabelLeftStyleM4 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM5, .GeneralSSection .LabelLeftStyleM5 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM6, .GeneralSSection .LabelLeftStyleM6 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM7, .GeneralSSection .LabelLeftStyleM7 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM8, .GeneralSSection .LabelLeftStyleM8 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM9, .GeneralSSection .LabelLeftStyleM9 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM10, .GeneralSSection .LabelLeftStyleM10 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM11, .GeneralSSection .LabelLeftStyleM11 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralForm .LabelLeftStyleM12, .GeneralSSection .LabelLeftStyleM12 { padding:2px 0 0; text-align:left; color:#215ea2; margin:0 10px 0 0; display:block; }
/** End vuongmq; 16/11/2015; LabelLeftStyle*/
.MapRouteSection { position:relative; }
.ShadowBgSection { position:absolute; z-index:1000; background:url(../images/bg_shadowMap.png) left top repeat-x;  height:4px; left:0px; right:0px; top:0px; }
.StaffSelectSection { position:absolute; z-index:9000; top:13px; left:10px; background: none repeat scroll 0 0 #FFFFFF; width:524px; border:1px solid black;  }
.StaffSelectBtmSection { padding:0 0 7px; position:relative; }
.StaffSelectBtmSection .LoadingStyle { position:absolute; right:29px; top:8px; }
.StaffTreeSection { width:auto; }
.StaffSelectText { font-size:1em; font-weight:bold; padding:9px 35px 0 15px; cursor:pointer; }
.StaffTreeSection .InputTextStyle  { margin:0 5px 9px 0;  }
.StaffTreeSection .InputText1Style  { width:85px !important;  }
.StaffTreeSection .InputText2Style  { width:170px !important;  }
.OnStyle { background-position:right -116px; }
.OffStyle { background-position:right -88px; }
.CustomersStatus { text-align:center; width:32px; height:25px; padding:7px 0 0; background-position:0px 0px; background-repeat:no-repeat; }
.Customers1Status { background-image:url(../images/Mappin/icon_circle_blue.png); }
.Customers2Status { background-image:url(../images/Mappin/icon_circle_green.png); }
.Customers3Status { background-image:url(../images/Mappin/icon_circle_orange.png); }
.Customers4Status { background-image:url(../images/Mappin/icon_circle_red.png); }
.Customers5Status { background-image:url(../images/Mappin/icon_circle_yellow.png); }
.CustomersStatus span { font-size:14px; color:#fff; font-weight:bold; }
.CustomerTimeVisit {clear: both;color: #FF0000 !important;display: block;font-size: 12px !important;font-weight: bold;line-height: 25px !important;margin-left: -11px;padding-top: 5px;}
.CtnTwoColsSection { border-top:1px solid #c6d5db; padding:1px 0 2px; background:url(../images/bg_content2cols.jpg) 25% top repeat-y; position:relative; }
.CtnTwoColsSection .SidebarSection { width:24.9%; }
.SidebarInSection { position:relative; height:auto !important; }
.CtnTwoColsSection .ContentSection { width:75%; font-size:1em; /*position:relative;*/ }
.ReportTreeSection { padding:10px 5px 53px; overflow:hidden; overflow-x:auto; margin:0 2px; }
.ReportTree2Section { padding-bottom:157px; }  
.ReportCtnSection { padding:0 0 10px 1px; }
.GeneralCntSection .Title2Style, .ReportCtnSection .Title2Style, .SearchSection .Title2Style, .GeneralForm .Title2Style { 
	color:#fff; font-size:1.1em; padding:12px 0 12px 13px; 
	background-color:#1CAF9A; 
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;}
.GeneralForm .Title2Style { margin:0 0 0 0; }
.GeneralForm .Title2MTStyle { margin-top:10px; }
.SidebarSection .Title2Style { color:#04528e; font-size:1em; text-transform:uppercase; padding:8px 0 6px 13px; background:url(../images/bg_title2.jpg) left top repeat-x; border-bottom:1px solid #d5e0e4; }
.GeneralForm { padding:15px 0 15px; }
.CTTT1Form, .Search1Form, .ImportExcel1Form { padding:0; }
.GeneralForm .Dl3Style dt, .GeneralForm .Dl3Style dd { margin-bottom:15px; height:22px; }
.GeneralForm .LabelStyle, .GeneralSSection .LabelStyle { padding:2px 0 0; text-align:right; margin:0 10px 0 0; display:block; }
.GeneralSSection .Label2Style { padding-left:20px; }
.GeneralSSection .ValueStyle { padding-top:2px; }
.Report1Form .Dl3Style dt { width:16%; }
.Report1Form .Dl3Style dd { width:33%; }
.Report1Form .Dl4Style dt { width:16%; }
.Report1Form .Dl4Style dd { width:80%; }
.ReqiureStyle { color:#F00; }
.GeneralForm .InputTextStyle, .GeneralSSection .InputTextStyle { 
	display: block;
    height: auto;
    padding: 5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.Report1Form .InputText3Style { width:226px; }
.ModuleList3Form .InputText3Style { width:226px; }
.Report1Form .InputText1Style { width:216px; }
.Report1Form .InputText2Style { width:194px; }
.CalendarLink { margin:3px 0 0 6px; display:inline; }
.GeneralForm .LabelTMStyle { margin-top:-6px; }
.NoteCustomersStatus { position:absolute; bottom:10px; left:10%; width:80%; border:1px solid #ccc; padding:4px; background-color:#fff; z-index:100000; }
.NCSList li { font-size:14px; background-position:left top; background-repeat:no-repeat; padding:8px 0 8px 36px; margin:0 15px 0 0; }
.NCSList #item1 { background-image:url(../images/Mappin/icon_circle_green.png); }
.NCSList #item2 { background-image:url(../images/Mappin/icon_circle_blue.png); }
.NCSList #item3 { background-image:url(../images/Mappin/icon_circle_red.png); }
.NCSList #item4 { background-image:url(../images/Mappin/icon_circle_orange.png); }
.NCSList #item5 { background-image:url(../images/Mappin/icon_circle_yellow.png); }
.NCSList #item6 { background-image:url(../images/Mappin/line_chart.png?v=192); }
.BtnGeneralMStyle { margin-left:8px; }
.CloseStyle { position:absolute; right:4px; top:4px; }
.ImportExcel1Form .Label1Style { width:60px; }
.DownloadSFileStyle { padding:8px 0 15px 70px; }
.DownloadSFileStyle a { color:#0099cc; background-position:0px -388px; padding:0 0 0 20px; }
.DownloadSFile2Style a { padding:0 7px 0 20px; }
.ImportExcel1Form .InputText1Style { width:288px; position:relative; z-index:2; }
.UploadFileSection { width:373px; background-position:right -174px; position:relative; overflow:hidden; }
.UploadFileSection .UploadFileStyle { cursor:pointer; position:absolute; right:0px; top:0px; z-index:1; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; font-size:1.1em; }
.UploadMediaSection .UploadFileSection { width:139px; height:30px; background-position:right -777px; margin:0 11px 0 0; }
.UploadMediaSection .UploadFileSection .UploadFileStyle { font-size:2.5em; }
.GeneralSSection .BoxSelect1 .MySelectBoxClass, .GeneralDetail1Section .BoxSelect1 .MySelectBoxClass { width:156px; }
.GeneralSSection .BoxSelect1 .CustomStyleSelectBoxInner, .GeneralDetail1Section .BoxSelect1 .CustomStyleSelectBoxInner { width:123px; }
.GeneralSSection .InputText1Style { width:75px; }
.GeneralSSection .InputText2Style { width:150px; margin-right:8px; }
.GeneralSSection .CalendarLink { margin:2px 1px 0 7px; }
.GeneralCntSection { border-radius: 3px;background-color: #fff; }
.GeneralCntNPSection { padding-top:0; }
.Func1Section .DownloadSFileStyle { padding:8px 0 0 4px; }
.Func1Section .BtnGeneralStyle { margin-right:8px; }
.Func1Section .BoxSelect { margin:4px 10px 0 0; }
.GeneralNoTPForm { padding:0 12px; }
.GeneralNoTP1Form { padding:0 12px 12px 12px; }
.GeneralNoPForm { padding:0; }
.Func2Section .Label1Style { color:#333; padding:8px 0 0; }
.Func2Section .Label1Style input { margin-right:8px; vertical-align:middle; }
.GridSection { padding:10px; display:inline-block;width:100%; overflow: auto; }
.GridSection2 { width:60%; }
.GeneralDetail1Section .Text1Style, .GeneralDetail2Section .Text1Style { font-weight:bold; padding:5px 20px 0 0; }
.GeneralDetail1Section .BoxSelect1 { margin:0 6px 0 0; }
.GeneralDetail1Section .AddLink { background-position:right -378px; width:22px; height:22px; }
.GeneralDetailSection { padding:0 12px; }
.GeneralDetail1Section { width:39%; }
.GeneralDetail2Section { width:60%; }
.CTTT1Form .Label1Style { width:90px; }
.CTTT1Form .InputTextStyle, .ImportExcel1Form .InputText2Style { margin-bottom:10px; }
.CTTT1Form .InputText1Style { width:216px; }
.CTTT1Form .InputText2Style { width:195px; }
.Search1Form { margin-bottom:10px; }
.Search1Form .Label1Style { width:80px; }
.Search1Form .Label2Style { width:90px; padding-left:5px; }
.Search1Form .Label3Style { width:50px; }
.Search1Form .Label4Style { width:125px; text-align:left; padding-left:15px; }
.Search1Form .Label5Style { width:200px; text-align:left; padding-left:15px; }
.Search1Form .Label6Style { width:88px; padding-left:5px; }
.Search1Form .Label7Style { width:120px; padding-left:5px; }
.Search1Form .ValueStyle { padding:2px 0 5px; }
.Search1Form .Value1Style { width:196px; font-weight:bold; }
.Search1Form .Value2Style { width:400px; }
.Search1Form .Value3Style { width:80px; font-weight:bold; }
.Search1Form .InputArea1Style { margin:5px 0 5px 16px; height:60px; width:530px; padding:3px; font-size:1em; }
.LabelPLStyle { padding-left:3px !important; margin-right:0px !important; width:15px; }
.Search1Form .InputText2Style, .ImportExcel1Form .InputText2Style { width:135px; }
.Search1Form .InputText1Style { width:90px; }
.Search1Form .InputText3Style { width:385px; }
.Search1Form .InputText4Style { width:183px; }
.Search1Form .InputText5Style { width:162px; }
.Search1Form .InputText6Style { width:141px; }
.Search1Form .BtnSearchStyle { margin-left:10px; }
.Search1Form .BoxSelect1 .MySelectBoxClass { width:100px; }
.Search1Form .BoxSelect1 .CustomStyleSelectBoxInner { width:67px; }
.TextEditorSection { padding:12px; }
.TextEdiorInSection { padding:3px 3px 8px; border:1px solid #c6d5dc; background-color:#e6e6e6; }
.TextEditorSection .BtnRSection { padding-top:6px; }
.TextEditorSection .Text1Style { text-transform:uppercase; font-size:1em; padding:5px 0; font-weight:bold; }
.UploadMediaSection, .GeneralMediaSection { padding:19px 12px 12px; }
.UploadMediaSection .Text1Style { font-weight:bold; padding:0 0 10px; }
.UploadMediaSection .Text2Style { font-weight:bold; padding:5px 0 10px; }
.TextEditorInSection { background-color:#e6e6e6; border:1px solid #c6d5db; padding:4px 4px 8px; }
.GeneralMedia1Section { width:64.6%; }
.GeneralMedia2Section { width:33.4%; }
.GeneralMIn { border:1px solid #c8d7dc; padding:25px 11px; }
.General2MIn { padding:33px 11px; }
.GeneralMIn .BtnRSection { margin-top:5px; }
.GeneralMedia1Section .GeneralMIn { padding:8px !important; }
.GeneralMedia1Section, .GeneralMedia2Section { position:relative; }
.GeneralMediaSection .Title3Style { color:#04528e; position:absolute; left:14px; top:-10px; padding:0 5px; background-color:#fff; font-size:1em; }
.MediaThumbList li { margin:0 2px 13px 0; position:relative; border:1px solid #c6d5db; padding:3px; }
.MediaThumbList li .VideoBtn { width:41px; height:41px; position:absolute; left:50%; top:50%; }
.MediaThumbList li .VideoBtn span { display:block; width:41px; height:41px; position:relative; left:-50%; top:-50%; background-position:-321px -359px; }
.BoxMiddle img { width: 100%; }
#player_api { width:86.5% !important; }
.OverlayLoading { width:219px; height:57px; color:#22a2bb; font-size:1em; position:absolute; top:50%; left:50%; z-index:100003; }
.OverlayInLoading { position:relative; top:-50%; left:-50%; background:url(../images/bg_loading.png) left top no-repeat; width:219px; height:43px; padding:14px 0 0; text-align:center; vertical-align:middle; }
.OverlayLoading img { margin-right:20px; }
.Search1Form .BtnSearchStyle { margin:-5px 0 0 10px; }
.MediaPlayerSection { position:relative; }
.DeleteLinkStyle { position:absolute; top:0px; right:0px; width:27px; height:27px; background-position:right -512px; display:none; }
.MediaPlayerSection:hover .DeleteLinkStyle { display:block; }
.UploadMediaSection .ErrorMsgStyle { padding:5px 0 0; }
.ControlUDPhotoStyle { position:absolute; }
.UpPhotoStyle { top:9px; left:50%; }
.DownPhotoStyle { bottom:9px; left:50%; }
.ControlUDPhotoStyle a { width:16px; height:10px; }
.UpPhotoStyle a { background-position:0px -870px; }
.DownPhotoStyle a { background-position:-25px -870px; }
.DownDPhotoStyle a { background-position:-53px -870px; }
.UpDPhotoStyle a { background-position:-80px -870px; }
.PhotoSearchSection .Label1Style { width:60px; }
.PhotoSearchSection .Label2Style { width:28px; }
.PhotoSearchSection .BoxSelect { margin-bottom:8px; }
.GeneralSSection .PhotoSearchSection .CalendarLink { margin-right:0; }
.PhotoSearchSection .TempStyle { margin:0 5px; }
.GeneralSSection .PhotoSearchSection .InputText2Style { width:100px; }
.PhotoSearchSection .InputText3Style { width:210px; }
.PhotoGroupList { padding:0 0 0 12px; }
.PhotoGroupList li { margin:0 0 5px 2.5%; min-height:160px; }
.PhotoListSection .PhotoGroupList li, .GeneralCntSection .PhotoGroupList li { min-height:237px; }
.PhotoGroupList li a.PhotoThumbGroup { display:block; background:url(../images/bg_thumb.png) left top no-repeat; padding:5px 10px 10px 5px; width:201px; height:144px; }
.PhotoGroupList .BoxFrame { height:144px; width:201px; cursor:pointer; }
.PhotoGroupList .Text1Style { width:216px; text-align:center; font-weight:bold; font-size:1.1667em; padding:10px 0 0; }
.PhotoGroupList .Text1Style a { color:#0099cc; }
.PhotoGroupList .Text2Style { color:#999999; text-align:center; padding:4px 0 0; }
.PhotoGroupList .Text3Style { width:154px; text-align:center; font-weight:bold; font-size:1.1667em; padding:10px 0 0; }
.PhotoGroupList .Text19Style { width:200px; text-align:center; font-weight:bold; padding:10px 0 0; }
.PhotoGroupList .Text19Style a { color:#0099cc; }
.ToolBarSection { background-color:#fff;border-radius: 3px; margin-bottom: 10px; }
.CtnTwoColsSection .ToolBarSection { background-color:#fff;border-radius: 3px; }
.CtnTwoColsSection .SearchInSection { padding:12px 12px; }
.PhotoGroupSection { font-size:1em; }
.PhotoGroupSection .PhotoGroupList { width:154px; margin:0 auto; padding:14px 0 0; }
.PhotoGroupSection .PhotoGroupList li { padding:0; margin:0 0 20px; }
.PhotoGroupSection .PhotoGroupList li a.PhotoThumbGroup { background:url(../images/bg_thumb1.png) no-repeat left top; width:142px; height:102px; padding:4px 8px 8px 4px; }
.PhotoGroupSection .PhotoGroupList .BoxFrame { width:142px; height:102px; }
.PhotoGroupSection { position:relative; overflow:hidden; overflow-y:auto; }
.PhotoListSection { padding:15px 0 15px 15px; }
.PhotoListSection .SProduct1Form { position:absolute; bottom:5px; right:31px; }
.PhotoList li { margin:0 35px 20px 0; min-height:217px; }
.PhotoList li .PhotoThumbnails { width:201px; height:144px; display:block; }
.PhotoList li .PhotoThumbnails .BoxFrame { width:201px; height:144px; }
.PhotoList li .Text1Style { width:209px; font-size:1.167em; font-weight:bold; padding:12px 0 5px; text-align:center; }
.PhotoList li .Text1Style a { color:#0099cc; }
.PhotoList li .Text2Style { font-size:1em; color:#999; text-align:center; }
.PhotoFuncSection { position:absolute; right:12px; top:0px; }
.PhotoFuncSection a { display:inline-block; vertical-align:middle; }
.PhotoFuncSection a.DownloadPhotoLink { padding:6px 13px 8px 22px; color:#0099cc; border-right:1px solid #C6D5DB; background-position:0 -380px; }
.PhotoFuncSection .PhotoListLink, .PhotoFuncSection .PhotoGroupLink { width:21px; height:21px; padding-top:8px; }
.PhotoFuncSection .PhotoListLink { background-position:-325px -817px; padding-right:6px; padding-left:13px; border-left:1px solid #fff; }
.PhotoFuncSection .PhotoGroupLink { background-position:-379px -817px; }
/** Begin vuongmq; 16/11/2015; LabelLeftStyle*/
.SearchInSection .LabelLeftStyleM1 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 1%; }
.SearchInSection .LabelLeftStyleM2 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 2%; }
.SearchInSection .LabelLeftStyleM3 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 3%; }
.SearchInSection .LabelLeftStyleM4 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 4%; }
.SearchInSection .LabelLeftStyleM5 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 5%; }
.SearchInSection .LabelLeftStyleM6 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 6%; }
.SearchInSection .LabelLeftStyleM7 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 7%; }
.SearchInSection .LabelLeftStyleM8 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 8%; }
.SearchInSection .LabelLeftStyleM9 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 9%; }
.SearchInSection .LabelLeftStyleM10 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 10%; }
.SearchInSection .LabelLeftStyleM11 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 11%; }
.SearchInSection .LabelLeftStyleM12 { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 12%; }
.SearchInSection .LabelLeftStyle { display:inline; padding:3px 0 0 0; margin-bottom:9px; margin-left: 15px; }
.SearchInSection .LabelLeft1Style { width:6%; }
.SearchInSection .LabelLeft2Style { width:7%; }
.SearchInSection .LabelLeft3Style { width:8%; }
.SearchInSection .LabelLeft4Style { width:9%; }
.SearchInSection .LabelLeft5Style { width:10%; }
.SearchInSection .LabelLeft6Style { width:11%; }
.SearchInSection .LabelLeft7Style { width:12%; }
.SearchInSection .LabelLeft8Style { width:5%; }
/** End vuongmq; 16/11/2015; LabelLeftStyle*/
.SearchInSection .LabelStyle { display:inline; padding:3px 0 0 0; margin-bottom:9px;  }
.SearchInSection .Label1Style { width:10%; }
.SearchInSection .Label2Style { width:8%; }
.SearchInSection .Label3Style { width:155px; padding-left:10px; text-align:left; margin-right:0; }
.SearchInSection .Label4Style { width:200px; padding-left:10px; text-align:left; }
.SearchInSection .Label5Style { width:17px; padding-left:0; text-align:left; margin-right:2px; }
.SearchInSection .Label6Style { width:17px; padding-left:237px; text-align:left; margin-right:2px; }
.SearchInSection .Label7Style { width:20px; text-align:center; margin:0; padding-right:5px; }
.SearchInSection .Label8Style { width:13%; } 
.SearchInSection .Label9Style { width:11.8%; } 
.SearchInSection .Label10Style { width:9.1%; }
.SearchInSection .Label11Style { width:4.6%; }
.SearchInSection .Label12Style { width:17%; } 
.SearchInSection .Label13Style { width:73px; } 
.SearchInSection .Label14Style { width:109px; } 
.PopupHContentMid .Label3Style { width:150px; }
.SearchInSection .InputText1Style { width:133px; }
.SearchInSection .InputText2Style { width:406px; }
.SearchInSection .InputText3Style { width:136px; }
.SearchInSection .InputText4Style { width:88px; margin-right:10px; }
.SearchInSection .InputText5Style { width:119px; }
.SearchInSection .InputText6Style { width:173px; }
.SearchInSection .InputText7Style { width:544px; }
.SearchInSection .InputText8Style { width:183px; }
.Func1Section .InputText1Style { margin:4px 5px 0 0; }
.BoxEditSection { position:absolute; top:15px; left:63px; border:1px solid #afc6ce; background:#fff; z-index:1000; display:block; }
.BoxEditSection a.Item { display:block; padding:1px 5px 5px 0; }
.BoxEditSection a.Item span { color:#333; padding:2px 10px 3px 21px; display:block; } 
.BoxEditSection a.Item:hover { background:#a2d0e7; }
.BoxEditSection a.Item1 span.Sprite1 { background-position:2px -936px; }
.BoxEditSection a.Item2 span.Sprite1 { background-position:2px -971px; }
.BoxEditSection a.Item3 span.Sprite1 { background-position:1px -1437px; }
.BoxEditSection a.Item4 span.Sprite1 { background-position:2px -1149px; }
.BoxEditSection a.Item5 span.Sprite1 { background-position:2px -1475px; }
.BoxEditSection a.Item6 span.Sprite1 { background-position:2px -1235px; }
.BoxEditSection a.Item7 span.Sprite1 { background-position:2px -1517px; }
.BoxEditSection a.Item8 span.Sprite1 { background-position:2px -1323px; }
.BoxEditSection a.Item9 span.Sprite1 { background-position:2px -1557px; }
.BoxEditSection a.Item10 span.Sprite1 { background-position:2px -1594px; }
.BoxEditSection a.Item11 span.Sprite1 { background-position:2px -1635px; }
.SProduct1Form .Label1Style { width:10%; }
.SProduct1Form .Label2Style { width:8.2%; }
.SProduct1Form .Label2FStyle { padding:0 0 0 10px; width:9%; margin-top:-5px; }
.SProduct1Form .Label3Style { padding-right:10px; text-align:right; }
.SProduct1Form .Label4Style { width:10%; text-align:right; }
.SProduct1Form .Label5Style { width:11%; text-align:right; padding-left:0; padding-right:5px; }
.SProduct1Form .Label6Style { width:130px; padding-left:0; padding-right:8px; text-align:right; }
.SProduct1Form .Label7Style { width:10.2%; text-align:right; }
.SProduct1Form .Label8Style { width:5%; text-align:left; }
.SProduct1Form .Label10Style { width:10%; text-align:right; padding-left:56%; }
.SProduct1Form .Label11Style { width:91px; }
.SProduct1Form .Label12Style { width:174px; text-align:left; padding-left:5px; }
.SProduct1Form .Label13Style { width:28%; }
.SProduct1Form .Label17Style { width:15%; }
.SProduct1Form .Label15Style { width:20%; }
.SProduct1Form .Label16Style { width:11%; }
.SProduct1Form .Label18Style { width:14px; }
.SProduct1Form .Label19Style { width:14%; }
.SProduct1Form .InputText1Style { width:196px; }
.SProduct1Form .InputText2Style { width:521px; }
.SProduct1Form .InputText3Style { width:370px; }
.SProduct1Form .InputText5Style { width:134px; }
.SProduct1Form .InputText9Style { width:174px; }
.SProduct1Form .InputText10Style { width:81px; }
.SProduct1Form .InputText11Style {width:15%;}
.SProduct1Form .InputText12Style {width:20%;}
.SProduct1Form .InputText13Style {width:35%;}
.SProduct1Form .ValueStyle { width:206px; font-weight:bold; }
.SProduct1Form .InputCbx1Style { margin-left:150px; }
.SProduct1Form .InputCbx2Style { margin-left:50px; }
.SProduct1Form .InputCbx3Style { margin-left:50px; }
.SProduct1Form .InputCbx5Style { margin-left:53%; }
.SProduct1Form .RichTextSection { width:100%; }
.SProduct1Form .BoxSelect { margin-right:0; width:215px; }
.SProduct1Form .BoxSelect1 .MySelectBoxClass { width:255px; }
.SProduct1Form .BoxSelect1 .CustomStyleSelectBoxInner { width:225px; }
.SProduct3Form .LabelStyle { color:#333; }
.SProduct3Form .Label1Style { width:17%; }
.SProduct3Form .InputText1Style { width:65%; }
.SProductForm1Cols { width:22%; height:290px; border:1px solid #c0cfd5; }
.SProductForm2Cols { width:36px; height:290px; text-align:center; position:relative; }
.SProductForm3Cols { width:73%; height:290px; border:1px solid #c0cfd5; }
.SProductForm4Cols { width:34%; height:290px; border:1px solid #c0cfd5; margin-right:2%; }
.SProductForm5Cols { width:63%; height:290px; border:1px solid #c0cfd5; }
.SProductForm6Cols { border:none ; height:auto; }
.SProductForm7Cols { width:100%; position:relative; padding-bottom:30px; }
.SProductForm6Cols img.BoxImageMapLocation { width:100%; height:209px; border:1px solid #C4C4C4; }
.PropertiesList li { display:block; clear:both; }
.SProductForm2Cols a.Item1 { background-position:right -914px; display:block; padding:5px; } 
.SProductForm2Cols a.Item1:hover { background-position:right -876px; } 
.SProductForm2Cols a.Item2 { background-position:right -999px; display:block; padding:5px; } 
.SProductForm2Cols a.Item2:hover { background-position:right -958px; } 
.SProductForm2Cols .BtnCenterSection { position:absolute; top:110px; left:0; right:0; }
.TabSection { padding:0 0 1px 11px; background:url(../images/bg_TabSection.png) bottom left repeat-x; }
.TabSection .TabSectionList { margin-top:8px; }
.TabSection li a { margin:0 -20px 0 3px; background-position:right -1080px; display:inline-block; padding:0 39px 0 0; color:#0099cc; }
.TabSection li a span { color:#FFF; background-position:left -1080px; display:inline-block; padding:9px 1px 9px 16px; font-weight:bold; }
.TabSection li a:hover, .TabSection li a.Active {position:relative; margin:0 -17px 0 0; background-position:right -1037px; color:#FFF; font-weight:bold; }
.TabSection li a.Active { }
.TabSection li a:hover span,.TabSection li a.Active span { background-position:left -1037px; color:#04528e; }
.BtnCSection { text-align:center; width:100%; }
.BtnRSection { text-align:right; width:100%; }
.BtnRSection .InputTextStyle, .BtnRSection .LabelStyle, .BtnRSection .BoxSelect  { margin-top:4px !important; }
.BtnRSection .InputCbxStyle { margin-top:7px; }
.BtnRSection .Label1Style { padding-left:48%; }
.BtnRSection .InputCbx4Style { margin-left:52%; }
.BtnRSection .InputCbx5Style { margin-left:29%; }
.BtnRSection .InputCbx6Style { margin-left:59%; }
.TotalInfo { text-align:right; padding:5px 10px; margin-top: 10px}
.TotalLInfo { text-align:left; }
.TotalInfo .Tem1Style { padding:0 5px; }
.TotalInfo .Tem1Style span { font-weight:bold; }
.BoxLoading { text-align:center; }
.BoxLoading img { width:70px; height:70px; }
.Sidebar1Section { width:95.8%; border-top:1px solid #bdcdd3; }  
.Content1Section { width:3.9% !important; border:1px solid #bdcdd3; border-bottom:none; }
.Content3Section { width:70.9%; border-top:1px solid #bdcdd3; }
.Content4Section { width:10px ;border:1px solid #bdcdd3; border-bottom:none; }
.Content3NBTSection { border-top:none; }
.Content3Section .TabSection { padding-left:0; }
.Content3Section .TabSection .TabSectionList { margin-top:0; }  
.ExpendContentList li { display:block; }
.ExpendContentList li a { display:block; padding:10px 5px; outline:none !important; }
.ExpendContentList li a.Item1 { background-position:-367px -1140px; }
.ExpendContentList li a.Item1Close { background-position:-367px -1363px; }
.ExpendContentList li a.Item2 { background-position:-367px -1197px; }
.ExpendContentList li a.Item3 { background-position:-367px -1261px; }
.ExpendContentList li a.Item4 { background-position:-367px -1307px; }
.ExpendContentList li a.Item1:hover, .ExpendContentList li a.Item1.Active { background-position:-313px -1140px; }
.ExpendContentList li a.Item1Close:hover, .ExpendContentList li a.Item1Close.Active { background-position:-313px -1363px; }
.ExpendContentList li a.Item2:hover, .ExpendContentList li a.Item2.Active { background-position:-313px -1197px; }
.ExpendContentList li a.Item3:hover, .ExpendContentList li a.Item3.Active { background-position:-313px -1261px; }
.ExpendContentList li a.Item4:hover, .ExpendContentList li a.Item4.Active { background-position:-313px -1307px; }
.SProductForm7Cols .BoxImageMap { position:absolute; top:0; right:0; width:50%; }
.SProductForm7Cols .BoxImageMap a.SeeFull { color:#0099cc; text-align:right; padding:4px 27% 4px 0; }
.ImageMapFull { width:947px; height:600px; }  
.SeeInMap { border:1px solid #c6d5db; width:100%; }
.SeeInMap img { width:100%; height:100%; }
/*Calendar LBH*/
.CalendarYearBox { padding:0 34px; }
.CalendarYearBox h4 { font-size:25px; color:#1b3a8a; text-align:center; padding:0 0 10px; }
.CYList { padding-top:10px; overflow:visible; }
.CYList li { width:175px; background:url(../images/bg-calendar.jpg) left top no-repeat; padding:4px; margin:0 6.6% 12px 0; position:relative; }
.CYList li.EndItem { margin-right:0; }
.CYList li.FirstItem { margin-left:10%; }
.CYList li h5 { font-size:12px; color:#fff; padding:2px 0 5px 6px; }
.CalendarYearBox .Table21Section { overflow:visible !important; background-color:#FFF; padding:0 6px 5px; min-height:129px; height:auto !important; height:129px; border:none; }
.Table21Section table, .Table22Section table { color:#000; font-size:11px; text-align:center; width:161px; }
.Table21Section table th { background:none; color:#000; font-weight:normal; border-bottom:1px solid #ccc; padding:2px 0; width:23px; }
.Table21Section table td { padding:2px 0; width:23px; position:relative; }
.Table21Section table td { border:none !important; } 
.Table21Section table th { border-right:none; }
.Table21Section table td:hover, .Table21Section table td.NowCols:hover, .Table21Section table td.ActiveChange  { cursor:pointer; background:url(../images/bg-tdhover.jpg) center center no-repeat; }
.Table21Section table td.ExtCols, .Table22Section td.ExtCols { color:#ccc; }
.Table21Section table td.OffCols { background:url(../images/bg-tddayoff.jpg) center center no-repeat; }
.Table22Section table td.OffCols {  background-color: #eda1ad; background: -moz-linear-gradient(bottom, #eda1ad 30%, #fbdfeb 70%); background: -o-linear-gradient(bottom, #eda1ad 30%, #fbdfeb 70%);background: -ms-linear-gradient(bottom, #eda1ad 30%, #fbdfeb 70%);background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #eda1ad),color-stop(0.7, #fbdfeb)); }
.Table21Section table td.NowCols { background:url(../images/bg-tdNow.jpg) center center no-repeat; }
.Table21Section table .SunCols, .Table22Section table .SunCols { color:#dc311a; font-weight:bold; }
.Table21Section table td.ExtCols:hover, .Table22Section table td.ExtCols:hover { cursor:default; background:none; }
.Warning3Style { font-size:11px; color:#fff; position:absolute; top:7px; left:65px; }
.Warning4Style { font-size:1.3em; font-weight:bold; color:#333; position:absolute; top:9px; }
.Warning5Style { font-size:1.3em; font-weight:bold; color:#333; text-align:center; padding-bottom:5px; }
.CalendarYearBox .BtnCenterSection .BoxSelect1, .CalendarMonthBox .BtnCenterSection .BoxSelect1 { padding-left:43%; height:30px; font-weight:bold; font-size:1.3em; }
.CalendarMonthBox .BtnCenterSection .BoxSelect2 {  padding-left:5px !important; }
.CalendarYearBox .BtnCenterSection .BoxSelect1 .MySelectBoxClass, .CalendarMonthBox .BtnCenterSection .BoxSelect1 .MySelectBoxClass { height: 30px !important; width:152px; }
.CalendarYearBox .BtnCenterSection .BoxSelect1 .CustomStyleSelectBox, .CalendarMonthBox .BtnCenterSection .BoxSelect1 .CustomStyleSelectBox {   height: 21px !important; font-weight:bold !important; padding:3px 0 2px; text-align:center; font-size:1.2em; }
.CalendarYearBox .BtnCenterSection .BoxSelect1 .CustomStyleSelectBoxInner, .CalendarMonthBox .BtnCenterSection .BoxSelect1 .CustomStyleSelectBoxInner { width:150px !important; }
.BoxEditState { width:266px; z-index:1000; position:absolute; background:url(../images/bg_calendarChangeTop.png) top left no-repeat; padding-top:4px; }
.BoxEditStateBtm { background:url(../images/bg_calendarChangeBtm.png) bottom left no-repeat; padding-bottom:23px; }
.BoxEditStateLoop { background:url(../images/bg_calendarChangeLoop.png) top left repeat-y; padding:0 5px 5px; font-size:11px; }
.BoxEditStateLoop .Label1Style { width:50px; }
.BoxEditStateLoop .BtnClose { width:12px; height:12px; background-position:-82px -809px; display:block; margin:0 3px 4px 0; }
.BoxEditStateLoop p.ReqiureStyle { padding:0 10px; }
.CalendarMonthBox { position:relative; }
.Table22Section, .Table22Section table { width:100%; border: 1px solid #DBDFE6; }
.Table22Section td { font-size:16px; font-weight:bold; color:#666; vertical-align:top; height:63px; border-bottom:1px solid #dbdfe6; border-right:1px solid #dbdfe6; padding:8px 0 0; }
.Table22Section table td, .Table22Section table th { width:14%; }
.Table22Section th { background:#81c9f9 url(../images/bg-th.jpg) left top repeat-x; color:#fff; font-size:12px; font-weight:bold; text-align:center; padding:9px 0 8px; border-right:1px solid #dbdfe6; border-top:1px solid #fff; }
.Table22Section td { font-size:1.9em; position:relative; color:#000; text-align:right; padding:14px 0 15px; height:80px; }
.Table22Section td span { padding-right:10px; }
.Table22Section td:hover, .Table22Section table td.NowCols:hover { cursor:pointer; position:relative; }
.Table22Section table td.NowCols { border:1px solid #7ab6d0;}
.Table22Section table td .BoxEditState { font-size:11px; font-weight:normal; top:100px; left:auto; right:auto; }
.NoteDaySectionL { cursor:pointer; background:url(../images/bg_NoteDayL.png) no-repeat scroll left 5px; padding-left:7px; height:54px; padding-top:5px; }
.NoteDaySectionR { background:url(../images/bg_NoteDayR.png) top right no-repeat; padding-right:17px; }
.NoteDaySectionC { background:url(../images/bg_NoteDayC.png) top left repeat-x; padding:11px 0; height:42px; }
.NoteDaySectionC p.Text1Style { font-size:0.55em; color:#333; text-align:center; line-height:17px; }
.OptionSection { z-index:1000; position:absolute; top:187px; padding-left:10px; display:block; }
.OptionSection a { cursor:pointer; float:left; margin:0 3px; }
/*Calendar LBH*/
/* Middle */
.BoxFrame { position:relative; overflow:hidden; }
.BoxFrame[class] { display:table; position:static; }
.BoxMiddle { position:absolute; top:50%; }
.BoxMiddle[class] { display:table-cell; vertical-align:middle; position:static; }
.BoxMiddle > img { position:relative; top:-50%; display:block; margin:0 auto; }
/*-[- Table*/
.GeneralTable { background-color:#fff; overflow:hidden; margin-bottom:10px; }
/* .headcol { */
/*         position:absolute; */
/*         width:5em; */
/*         left:0; */
/*         top:auto; */
/*         border-right: 0px none black; */
/*         border-top-width:3px; only relevant for first row */
/*         margin-top:-3px; compensate for top border */
/*     } */
/* .headcol:before {content: 'Row ';} */
.GeneralTable th { vertical-align:middle; color:#fff; background-color:#56abc7; border-right:1px solid #c6d5db; padding:5px 0; text-align:center; }
.GeneralTable th.EndTopThStyle { border-bottom:1px solid #c6d5db; }
.GeneralTable th.FirstThStyle { border-left:1px solid #56abc7; }
.GeneralTable th.EndThStyle { border-right:1px solid #56abc7; }
.GeneralTable td.FirstTdStyle { border-left:1px solid #c6d5db; }
.GeneralTable td { border-right:1px solid #c6d5db; border-bottom:1px solid #c6d5db; }
.GeneralTable .ColsTd1 {  border-left:1px solid #c6d5db; }
.GeneralTable td a { color:#0099cc; }
.GeneralTable td .Color1Style { color:#f80202; }
.GeneralTable .AlignLCols { text-align:left; padding:8px 9px; }
.GeneralTable .AlignRCols { text-align:right; padding:8px 9px; }
.GeneralTable .AlignCCols { text-align:center; padding:8px 9px; }
.Table1Section { width:331px; margin:0 0 5px; }
.Table2Section { width:608px; }
.Table3Section { width:678px; }
.Table4Section { width:797px; }
.GeneralTable tfoot td, .GeneralTable td .FontWBStyle, .FooterTable td { font-weight:bold; }
.Table4Section table { width:780px; }
.Table2Section table { width:591px; }
.GeneralTable .ScrollBodyTable { overflow:hidden; overflow-y:auto; height:260px; position:relative; }
.Table4Section .ScrollBodyTable { width:797px; }
.Table2Section .ScrollBodyTable { width:608px; }
.GeneralTable .InputTextStyle, .GeneralTable .BoxSelect { margin-bottom:0; }
.GeneralTable .InputText1Style { width:93%; text-align:right; }  
.GeneralTable .InputText1LStyle { width:93%; text-align:left; }  
.GeneralTable .InputText2Style { width:63%; text-align:right; }  
.GeneralTable .BoxSelect1 .MySelectBoxClass { width:90px; }
.GeneralTable .BoxSelect1 .CustomStyleSelectBoxInner { width:57px; }
.GeneralTable td.TdRelative { position:relative !important; }
.BoxEditWorkDay { width:291px; margin-top:17px; position:absolute; border:1px solid #c7c7c7; padding:5px; background:#fff; z-index:1000; }
.BoxEditWorkDay .Text1Style { font-weight:bold; padding:5px 0; }
.BoxEditWorkDay .LabelStyle { color:#333; }
.BoxMapFull { position:relative; }  
.BoxMapFull .ImgMapFull { width:100%; }
.YellowStyle { background:#ffff81; }
.GreenStyle { background:#80d8a8; }
.RedStyle { background:#ff8081; }
.AddCalendar { float:left; margin:-10px 0 0 5px; }
/*-]- Table*/

/*** Begin Box change pass **/
.GeneralBoxSection { width:100%; border:1px solid #cbd9de; margin-bottom:10px; }
.GeneralBoxSection .InfoShop { margin:10px; }
.GeneralBoxSection .InfoShop .Avatar { margin-right:10px; }
.GeneralBoxSection .InfoShop p { padding:1px 0 2px 0px; display:block; font-weight:bold; }
.GeneralBoxSection .InfoShop p.Text2Style { font-weight:normal; color:#999; }
/*** End Box change pass **/
/*-[- Map Popup*/
/* .MapPopupSection { font-size:1em; } */
.MapPopupSection { font-size:0.85em; }
.MapPopup1Section { width:331px; }
.MapPopup2Section { width:250px; }
.MapPopupSection .Title2Style { color:#04528e; padding:0 0 1px; font-size:1em; text-align: center}
.olPopupContent table td{
	padding:0px !important;
}
.Dl1Style { margin:0 0 8px; }
.Dl1Style dt, .Dl1Style dd { display:inline; }
.Dl1Style, .Dl2Style { line-height:1.5em; }
.Dl1Style dd, .Dl2Style dd { font-weight:bold; margin-right:16px; }
.ContentFunc .Text1Style a { color:#0099cc; background-position:right -287px; padding:0 10px 0 0; }
.ContentFunc .Text2Style { color:#666; }
.Dl2Style dd.Dd1Style { color:#F00; }
.Dl2Style dt { clear:left; width:65px; }
.Dl2Style dd { clear:right; }
/*-]- Map Popup*/
/*-]- Content*/

/*-[-#footer*/
#footer { border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
    background-color: #eee;}
#footer p {margin-bottom: 0px;}    
#footer .Text1Style { font-size:1em; color:#1d2939; padding:5px 0; text-align:center; }
/*-]-#footer*/

/*- [ Customize Grid -*/
.GridSection .panel-header { display:none; }
.GridSection .datagrid { font-size:1em; width:100%;display:inline-block; }
.GridSection .datagrid-header, .GridSection .datagrid-header .datagrid-header-over { 
	background:#428BCA; color:#fff;
	heigth:35px; }
.GridSection .datagrid-header .datagrid-htable { color:#fff; heigth:35px; }
.GridSection .datagrid-header .datagrid-htable .datagrid-cell { font-weight:bold; text-align:center !important; heigth:35px; }
.GridSection .datagrid-td-rownumber { background:#fff; color:#333; vertical-align:middle !important; }
.GridSection .datagrid-body td, .GridSection .datagrid-footer td, .GridSection .panel-body, .GridSection .datagrid-pager { 
		border-bottom:1px solid #eee;}
.GridSection .datagrid .datagrid-pager { background-color:#fff; }
.GridSection .datagrid-header-rownumber { font-weight:bold; }
.GridSection .datagrid-body .datagrid-cell { white-space:normal; }
.GridSection .datagrid-body-inner .datagrid-row-detail { background:url(../images/icon_2.png) center 8px no-repeat; }
.GridSection .datagrid-body-inner td {border-left:1px solid #eee; }
/*- ] Customize Grid -*/

/*- [ Customize Popup -*/
.VinamilkTheme .window { padding:0; border-color:#fff; background:#ffffff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0); /*z-index:100001 !important*/; font-size:1em; }
.VinamilkTheme .window .window-body { border-width:0px; }
.VinamilkTheme .panel-tool a { width:25px; height:16px; margin-right:10px; }
.VinamilkTheme .panel-tool-close { background:url(../images/icon_close.png) left top no-repeat; }
.VinamilkTheme .window .window-header .panel-tool { margin-top:-7px; }
.VinamilkTheme .window .window-header { border-width:0px; padding:10px 0 11px 12px; background-color: #E0ECFF; background: -webkit-linear-gradient(top,#c0deec 0,#ffffff 100%); background: -moz-linear-gradient(top,#c0deec 0,#ffffff 100%); background: -o-linear-gradient(top,#c0deec 0,#ffffff 100%); background: linear-gradient(to bottom,#c0deec 0,#ffffff 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0deec,endColorstr=#ffffff,GradientType=0); }
.VinamilkTheme .panel-title { color:#04528e; text-transform:uppercase; }
.VinamilkTheme .window-mask { filter: alpha(opacity=30); opacity: 0.30; background-color:#000; }
.PopupContentTop { background-color:#f5f7f7; border-top:1px solid #c6d5db; border-bottom:1px solid #c6d5db; }
.PCInTop { border-top:1px solid #fff; text-align:center; padding:8px 0; }
.PopupContentTop .Dl1Style { display:inline; }
.PopupContentMid { padding:10px; }
.PopupContentMid2 { padding:0 0 10px 0; }
.PopupContentHMid { height:190px; overflow:auto; border-bottom:1px solid #cdd9dd; padding-left:20px; }
.PopupHContentMid { height:239px; overflow:auto; }
.DlgOverlay { background:url(../images/bg_overlay.png) left top repeat; position:fixed; left:0px; right:0px; top:0px; bottom:0px; z-index:100002;}
.VinamilkTheme .combo-p { z-index:100001 !important; }
.VinamilkTheme .combo { background:#fff url(../images/bg_sprites1.png) right -329px no-repeat;
	border:1px solid #bbbaba; color:#333; width:180px; border-radius: 3px; padding: 5px; }
.VinamilkTheme .combo-text, .VinamilkTheme .combo-arrow { background:none; border:none; font-size:1em; }
.VinamilkTheme .tree-icon, .VinamilkTheme .tree-indent { display:none; }
.VinamilkTheme .tree li { margin-left:18px; background:url(../scripts/jquery-easyui-1.3.2/themes/default/images/tree_icons.png) -289px 0px repeat-y; }
.VinamilkTheme .tree > li { margin-left:0; background:none; }
.VinamilkTheme .tree-collapsed, .VinamilkTheme .tree-collapsed-hover { background-position:-67px 0px; }
.VinamilkTheme .tree-expanded, .VinamilkTheme .tree-expanded-hover { background-position:-83px 0px; }
.VinamilkTheme .tree-file { display:inline-block; background-position:-163px 0; }
.VinamilkTheme .tree li:last-child { background:none; }
.VinamilkTheme .tree-node-hover, .VinamilkTheme .tree-node-selected { background-color:transparent; }
.VinamilkTheme .tree-node-hover .tree-title { background-color:#eaf2ff; }
.VinamilkTheme .tree-node-selected .tree-title { background-color:transparent; color:#000; font-weight:bold; padding-left:3px; }
.VinamilkTheme .tree { margin:5px 0 0 5px; }
.VinamilkTheme .jstree-classic .jstree-clicked { font-weight:bold; color:#000; background:none; border:none; padding:0 2px 0 3px; }
.General1Dialog { width:925px; overflow:hidden; border-top:1px solid #c6d5db; }
.General2Dialog { width:779px; overflow:hidden; border-top:1px solid #c6d5db; }
.General3Dialog { width: 581px; overflow:hidden; border-top:1px solid #c6d5db; }
.DialogPhotoSection { height:500px; }
.PhotoCols1 { border-right:1px solid #ccc; width:190px; height:633px; }
.PhotoCols1Info1 { padding:10px; width:560px; position:relative; }
.PhotoCols1Info1 img.ImageMap { width:100%; height:350px; }
.Map2Section { position:absolute; right:0px; bottom:0px; width:488px; height:409px; }
.OnFucnStyle, .OffFucnStyle { position:absolute; z-index:18000000; }
.OnFucnStyle, .OffFucnStyle { top:0px; left:0px; }
.OnFucnStyle span, .OffFucnStyle span { width:16px; height:16px; }
.OnFucnStyle span { background-position:0px -810px; }
.OffFucnStyle span { background-position:-33px -810px; }
.PhotoCols1Info3 { border-top:1px solid #ccc; padding:10px 15px; width:704px; }
.PhotoCols1Info3 p { font-size:1em; }
.PhotoCols1Info3 p.Text0Style { padding:6px 4px 6px; margin-bottom:10px; font-weight:bold; background:#dfe2e9; color:#4c4f56; border:1px solid #bfc8d1; }
.PhotoCols1Info3 p.Text1Style { padding:0 0 6px; font-weight:bold; }
.PhotoCols1Info3 p.Text2Style { color:#999; padding:0 0 20px; }
.PhotoCols1Info3 p.Text3Style a { color:#0099cc; }
.PhotoCols1Info3 p.Text3Style .DownloadPhotoLink { padding-left:22px; background-position:0px -388px; margin-right:25px; color:#0099cc; }
.PhotoCols1Info3 p.Text3Style .DeletePhotoLink { padding-left:20px; background-position:-83px -807px; }
.PhotoCols2 { width:570px; overflow:hidden; position:relative; }
.PhotoCols2List { width:150px; margin:0 auto; padding-bottom:15px; }
.PhotoCols2List li p { font-size:12px; color:#0099cc; text-align:center; padding:8px 0; font-weight:bold; }
.LeftStyle, .RightStyle { position:absolute; top:165px; width:31px; height:31px; cursor:pointer; z-index:10; }
.LeftStyle { left:22px; background-position:-169px -857px; }
.RightStyle { right:23px; background-position:-125px -857px; }
.UpStyle, .DownStyle { position:absolute; left:144px; width:20px; height:10px; cursor:pointer; z-index:100; }
.UpStyle { top:22px; background-position:0 -705px; }
.DownStyle { bottom:0px; background-position:-34px -705px; }
.PhotoCols3Info .LeftStyle { left:2px; }
.PhotoCols3Info .RightStyle { right:2px; }
.PhotoCols1 .DScrollpane { padding:15px 18px 0; height:485px; overflow:hidden; overflow-y:auto; position:relative; }
/* .PhotoThumbnails .BoxFrame { height:384px; width:142px; cursor:pointer; } */
.PhotoThumbnails .BoxFrame { width:142px; cursor:pointer; }
.PhotoLarge .BoxFrame { height:350px; width:712px; }
.PhotoLarge .BoxFrame2 { height:350px; width:560px; }
.PhotoThumbnails { border:1px solid #c6d5db; padding:3px; width:142px; height:102px; position:relative; }
.FocusStyle .PhotoThumbnails { border: 1px solid #0099CC; }
.jstree-classic li { position:relative; }
.easyui-tree .Temp1Style { color:#0099cc; }
.easyui-tree li span.Sprite1 { padding:3px 0 2px 20px; }
.easyui-tree li span.Item1 { background-position:0 -1149px; }
.easyui-tree li span.Item2 { background-position:0 -1188px; }
.easyui-tree li span.Item3 { background-position:0 -1235px; }
.easyui-tree li span.Item4 { background-position:0 -1279px; }
.easyui-tree li span.Item5 { background-position:0 -1323px; }
.easyui-tree li span.Item6 { background-position:0 -1364px; }
.easyui-tree li span.Item7 { background-position:0 -1408px; }
.easyui-tree li span.Item8 { background-position:0 -1408px; }
.VinamilkTheme .datagrid-cell .tree-indent { display: inline-block; }
.VinamilkTheme .datagrid-cell .tree-file { padding-left: 0 !important; margin-left: -16px; }
/*- ] Customize Popup -*/

/*- [ Fancybox -*/
.fancy-bg, .UiJquryDialogCorner { position:absolute; border:none; }
.fancy-bg { padding:0; margin:0; z-index:8000; display:none; }
#fancy-bg-n, .UiJquryDialogMTCorner { background:url(../images/dialog/bg-middleTop-01.png) left top repeat-x; width:100%; height:14px; right:0px; top:-14px; } 
#fancy-bg-ne, .UiJquryDialogRTCorner { background:url(../images/dialog/bg-rightTop-01.png) right top no-repeat; width:14px; height:15px; right:-14px; top:-14px; }  
#fancy-bg-e, .UiJquryDialogRMCorner { background:url(../images/dialog/bg-rightMiddle-01.png) right top repeat-y; width:14px; height:100%; bottom:1px; right:-14px; clip:rect(2px auto auto auto); }  
#fancy-bg-se, .UiJquryDialogRBCorner { background:url(../images/dialog/bg-rightBottom-01.png) right bottom no-repeat; width:14px; height:15px; bottom:-14px; right:-14px; }
#fancy-bg-s, .UiJquryDialogMBCorner { background:url(../images/dialog/bg-middleBottom-01.png) left bottom repeat-x; width:100%; height:14px; bottom:-14px; right:0px; }  
#fancy-bg-sw, .UiJquryDialogLBCorner { background:url(../images/dialog/bg-leftBottom-01.png) left top no-repeat; width:14px; height:15px; bottom:-14px; left:-14px; }  
#fancy-bg-w, .UiJquryDialogLMCorner { background:url(../images/dialog/bg-leftMiddle-01.png) left top repeat-y; width:14px; height:100%; bottom:1px; left:-14px; clip:rect(2px auto auto auto); }
#fancy-bg-nw, .UiJquryDialogLTCorner { background:url(../images/dialog/bg-leftTop-01.png) left top no-repeat; left:-14px; top:-14px; width:14px; height:15px; }
/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding:0; margin:0; border:0; outline:none; vertical-align:top; }
.fancybox-wrap { position:absolute; top:0; left:0; z-index:8000; -moz-box-shadow:2px 2px 3px #000; -webkit-box-shadow:2px 2px 3px #000; box-shadow:2px 2px 3px #000; }
.fancybox-wrap .fancybox-skin { position:relative; -moz-border-radius:5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; border-color:#fff; }
.fancybox-opened { z-index:8030; }
.fancybox-outer, .fancybox-inner { position:relative; }
.fancybox-wrap .fancybox-outer { padding:33px 0 0; }
.fancybox-wrap .fancybox-inner { overflow:hidden; overflow-y:auto; background-color:#fff; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; border-color:#fff; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling:touch; }
.fancybox-image, .fancybox-iframe { display:block; width:100%; height:100%; }
.fancybox-image { max-width:100%; max-height:100%; }
#fancybox-loading { position:fixed; top:50%; left:50%; margin-top:-22px; margin-left:-22px; background-position:0 -108px; opacity:0.8; cursor:pointer; z-index:8060; }
#fancybox-loading div { width:44px; height:44px; background:url(../images/dialog/fancybox_loading.gif) center center no-repeat; }
.fancybox-close { position:absolute; top:8px; right:10px; width:12px; height:12px; cursor:pointer; z-index:10000; background:url(../images/icon_close.png) left top no-repeat; }
.fancybox-nav { position:absolute; top:0; width:40%; height:100%; cursor:pointer; text-decoration:none; background:transparent url(../images/dialog/blank.gif); /* helps IE */ -webkit-tap-highlight-color:rgba(0,0,0,0); z-index:8040; }
.fancybox-prev { left:0; }
.fancybox-next { right:0; }
.fancybox-nav span { position:absolute; top:50%; width:36px; height:34px; margin-top:-18px; cursor:pointer; z-index:8040; visibility:hidden; }
.fancybox-prev span { left:10px; background-position:0 -36px; }
.fancybox-next span { right:10px; background-position:0 -72px; }
.fancybox-nav:hover span { visibility:visible; }
.fancybox-tmp { position:absolute; top:-99999px; left:-99999px; visibility:hidden; max-width:99999px; max-height:99999px; overflow:visible !important; }
/* Overlay helper */
.fancybox-lock { overflow:hidden; }
.fancybox-overlay { position:absolute; top:0; left:0; overflow:hidden; display:none; z-index:8000; background:url(../images/dialog/fancybox_overlay.png) left top repeat; }
.fancybox-overlay-fixed { position:fixed; bottom:0; right:0; }
.fancybox-lock .fancybox-overlay { overflow:auto; overflow-y:scroll; }
/* Title helper */
.fancybox-title { visibility:hidden; font-size:1em; position:relative; text-shadow:none; z-index:8050; font-weight:bold; font-weight:bold; color:#04528E; text-transform:uppercase; }
.fancybox-opened .fancybox-title { visibility:visible; -moz-border-radius:5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; border-color:#fff; background-color: #E0ECFF; background: -webkit-linear-gradient(top,#c0deec 0,#ffffff 100%); background: -moz-linear-gradient(top,#c0deec 0,#ffffff 100%); background: -o-linear-gradient(top,#c0deec 0,#ffffff 100%); background: linear-gradient(to bottom,#c0deec 0,#ffffff 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0deec,endColorstr=#ffffff,GradientType=0); }
.fancybox-title-inside-wrap { padding:10px 0; text-indent:12px; position:absolute; top:0px; left:0px; width:100%; }
/*- ] Fancybox -*/
/*- [ Fix MultiSelecBox*/
.BoxSelect .ui-dropdownchecklist { z-index:10000 !important;  }
.BoxSelect .ui-dropdownchecklist-text, .BoxSelect .ui-dropdownchecklist-selector {  width:173px !important; }
.ReportCtnSection .BoxSelect .ui-dropdownchecklist-text, .ReportCtnSection .BoxSelect .ui-dropdownchecklist-selector {  width:194px !important; }
.BoxSelect .ui-dropdownchecklist-text, .ui-dropdownchecklist-selector { height: 17px; line-height:20px; font-size:1em !important; }
.BoxSelect .ui-dropdownchecklist-selector-wrapper .ui-state-default { 
	background: url(../images/bg_sprites1.png?v=108) no-repeat right -324px #FFFFFF !important ; 
	color: #999999 !important; border: 1px solid #C4C4C4 !important ; 
	color: #333333 !important; font-weight: normal !important; overflow: hidden; 
	padding:5px 22px 3px 9px !important;
	height:30px;  }
.BoxSelect .ui-state-default {  color: #999999 !important; border: 1px solid #C4C4C4 !important ; color: #333333 !important; font-weight: normal !important; overflow: hidden; padding:2px 22px 3px 9px !important;  }
.BoxSelect .ui-dropdownchecklist-selector-wrapper, .ui-widget .ui-dropdownchecklist-selector-wrapper { font-size:1em !important; }
.BoxSelect .ui-dropdownchecklist-item { background:#FFF !important; }
/*- ] Fix MultiSelecBox*/

/*- [ Hack Chrome -*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.BoxEditWorkDay { z-index:1000; }
	.BoxEditState { width:266px; z-index:1000; position:absolute; top:-106px; left:-120px; background:url(../images/bg_calendarChangeTop.png) top left no-repeat; padding-top:4px; }
	.AccOption .ChildMenuSectionList li > a.Item1 { padding:12px 0 0 150px; }
 }
/*- ] Hack Chrome -*/
.ui-dropdownchecklist { z-index:10000 !important; }
.BoxSelect2 .combo { width:204px !important; }
.BoxSelect2 .combo-text { width:181px !important; }
.BoxSelect10 .combo { width:513px !important; }
.BoxSelect10 .combo-text { width:490px !important; }
.icon1 { background:url(../../../images/icon_addgGDM.png) no-repeat center center !important; }
.icon2 { background:url(../../../images/icon_addGDM.png) no-repeat center center; }
.icon3 { background:url(../../../images/icon_addgTBHV.png) no-repeat center center; }
.icon4 { background:url(../../../images/icon_addTBHV.png) no-repeat center center; }
.icon5 { background:url(../../../images/icon_addgNSNPP.png) no-repeat center center; }
.icon6 { background:url(../../../images/icon_addNSNPP.png) no-repeat center center; }
.icon7 { background:url(../../../images/icon_selectNSNPP.png) no-repeat center center; }
.icon8 { background:url(../../../images/icon_addNVBH.png) no-repeat center center; }
.DivInputFile { float:left; position:relative; }
.InputFileStyle { opacity: 0; position: absolute; }
.FakeInputFile { margin: 4px 5px 0; }
.GeneralNoTP1Form { padding: 10px 12px 12px; }
#loadingImages { height:60px; width:50px; }
#ddcl-typeCode .ui-dropdownchecklist-selector { width: 173px !important; }
#ddcl-typeCode .ui-dropdownchecklist-selector .ui-dropdownchecklist-text { width: 175px !important; }
.TdSection p { text-align: right !important;}
.window-shadow { display:none !important; }
.MapPopup3Section { width:250px; font-size: 1em !important }
.MapPopupSection .Title3Style { color:#04528e; padding:0 0 1px; font-size:1em; }
.PCInTopF { padding-left: 10px; text-align: left; }  
.TdSection { position:relative; }
.OptionSection { top:0; }
.NoteDaySectionC p.Text1Style { margi-right:-16px; text-align:center !important; }
.YellowStyle { background:#f6dd6a; }
.GreenStyle { background:#93c822; }
.RedStyle { background:#f97e74; }

/*Video styles*/
.SVideo1Form .BtnGeneralStyle { background:url(../images/bg_input1.jpg?v=192) left top repeat-x !important; border:1px solid #d1d0d0 !important; padding:5px 10px !important; color:#333; }
.SVideo1Form .BtnGeneralStyle:hover { background:url(../images/bg-btngeneralHover.png) left top repeat-x ; }
.SVideo1Form .Label1Style { width:10%; }
.SVideo1Form .Label2Style { width:8.2%; }
.SVideo1Form .Label2FStyle { padding:0 0 0 10px; width:9%; margin-top:-5px; }
.SVideo1Form .Label3Style { padding-left:3px; text-align:left; }
.SVideo1Form .Label4Style { width:10%; text-align:right; }
.SVideo1Form .Label5Style { width:11%; text-align:right; padding-left:0; padding-right:5px; }
.SVideo1Form .Label6Style { width:130px; padding-left:0; padding-right:10px; text-align:right; }
.SVideo1Form .Label7Style { width:8.2%; text-align:left; }
.SVideo1Form .Label8Style { width:5%; text-align:left; }
.SVideo1Form .Label10Style { width:10%; text-align:right; padding-left:56%; }
.SVideo1Form .Label11Style { width:91px; }
.SVideo1Form .Label12Style { width:174px; text-align:left; padding-left:5px; }
.SVideo1Form .Label13Style { width:28%; }
.SVideo1Form .Label17Style { width:15%; }
.SVideo1Form .Label15Style { width:20%; }
.SVideo1Form .Label16Style { width:11%; }
.SVideo1Form .Label18Style { width:14px; }
.SVideo1Form .InputText1Style { width:196px; }
.SVideo1Form .InputText2Style { width:521px; }
.SVideo1Form .InputText3Style { width:370px; }
.SVideo1Form .InputText5Style { width:134px; }
.SVideo1Form .InputText9Style { width:174px; }
.SVideo1Form .InputText10Style { width:81px; }
.SVideo1Form .ValueStyle { width:206px; font-weight:bold; }
.SVideo1Form .InputCbx1Style { margin-left:150px; }
.SVideo1Form .InputCbx2Style { margin-left:50px; }
.SVideo1Form .InputCbx3Style { margin-left:50px; }
.SVideo1Form .InputCbx5Style { margin-left:53%; }
.SVideo1Form .RichTextSection { width:100%; }
.SVideo1Form .BoxSelect { margin-right:0; }
.SVideo1Form .BoxSelect1 .MySelectBoxClass { width:255px; }
.SVideo1Form .BoxSelect1 .CustomStyleSelectBoxInner { width:225px; }
.ImportVideo1Form .Label1Style {
    float: left;  
    margin-left: 20px;   
    text-align: left;
    width: 60px;
}
.ImportVideo1Form input{
	border: 1px solid #C4C4C4;
    height: 20px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 0 4px;
    width: 174px;
}

.ImportVideo1Form .UploadFileSection {
    background-position: right -174px;
    overflow: hidden;
    position: relative;
    width: 273px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}
.gm-style {
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
}
/** */
a.searchHidden {
	display: block;
	background: url('/resources/scripts/plugins/jquery-easyui-1.3.5/themes/default/images/panel_tools.png') -32px -16px;
	width: 16px;
	height: 16px;
}

a.searchShow {
	display: block;
	background: url('/resources/scripts/plugins/jquery-easyui-1.3.5/themes/default/images/panel_tools.png') -32px 0;
	width: 16px;
	height: 16px;
}

