/*- [ Customize JScrollpane  -*/
.jspScrollable { outline:none; }
.jspContainer { overflow:hidden; position:relative; } 
.jspPane { position:absolute; }
.jspVerticalBar { position:absolute; top:0; right:0px; width:12px; height:100%; }
.jspHorizontalBar { position:absolute; bottom:0; left:0; width:100%; height:11px; }
.DChooseDBCont .jspHorizontalBar { visibility:hidden; }
.jspVerticalBar *, .jspHorizontalBar * { margin:0; padding:0; } 
.jspVerticalBar .jspCap { display:block; width:12px; height:10px; }
.jspVerticalBar .jspCapTop { background:url(/resources/images/icon-jspScroll.jpg) left bottom no-repeat; }
.jspVerticalBar .jspCapBottom { background:url(/resources/images/icon-jspScroll.jpg) right bottom no-repeat; }
.jspHorizontalBar .jspCap { display:block; width:11px; height:11px; }
.jspHorizontalBar .jspCapLeft { background:url(/resources/images/icon-jspScroll.jpg) left top no-repeat; }
.jspHorizontalBar .jspCapRight { background:url(/resources/images/icon-jspScroll.jpg) right top no-repeat; }
.jspHorizontalBar .jspCap { float:left; }
.jspVerticalBar .jspTrack { position:relative; background:#fff url(/resources/images/bg-jspTrack.jpg) right top repeat-y; } 
.jspVerticalBar .jspDrag { background:url(/resources/images/bg-jspDrag.jpg) right top repeat-y; position:relative; top:0; left:0; cursor:pointer; }
.jspHorizontalBar .jspTrack { position:relative; background:#fff url(/resources/images/bg-jspTrackH.jpg) left center repeat-x; } 
.jspHorizontalBar .jspDrag { background:url(/resources/images/bg-jspDragH.jpg) left center repeat-x; position:relative; top:0; left:0; cursor:pointer; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float:left; height:100%; } 
.jspArrow { background:#50506d; text-indent:-20000px; display:block; cursor:pointer; } 
.jspArrow.jspDisabled { cursor:default; background:#80808d; } 
.jspVerticalBar .jspArrow { height:16px; } 
.jspHorizontalBar .jspArrow { width:16px; float:left; height:100%; }
.jspVerticalBar .jspArrow:focus { outline:none; }
.jspCorner { background:#eeeef4; float:left; height:100%; }
.SearchSection .BtnGeneralDStyle { color:#999999; }
.SearchSection .BtnGeneralStyle:hover, .SidebarInSection .BtnGeneralStyle:hover, .SProduct1Form .BtnGeneralStyle:hover {  }
.SearchSection .BtnGeneralDStyle:hover {  }
.datagrid-cell {word-wrap: break-word !important; white-space: normal !important;}
.GridSection .datagrid-body-inner td { vertical-align:middle; }
.BoxSelect4 .CustomStyleSelectBoxInner { width:120px; }
.BoxSelect4 .MySelectBoxClass { width:153px; }
.FocusStyle .CustomStyleSelectBoxInner { border:1px dotted #000; height:18px;} 
 /* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin:0 -3px 0 0; }
/*- ] Customize JScrollpane -*/
.RedRow {
	background-color: red;
}
.NotData {
	font-size:11px;
	font-weight:bold;
	text-align: left !important;
}
.AlignRight{
	text-align: right !important;
	padding-right: 15px !important;
}
.AlignRightScroll{
	text-align: right !important;
	padding-right: 20px !important;
}
.AlignCenter{
	text-align: center!important;
	padding-center: 15px !important;
}
.InputStyleReturnProduct{
	width: 120px !important; 
	text-align:right;
}
.InputStyleStock{
	width: 100px !important; 
	text-align:right;
}
.AlignLeft {
	text-align: left !important;
	padding-left: 15px !important;
}
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea {
    margin: -4px !important;
}
.Warehouse83Form .InputText2Style { 
	width:130px !important;
}
.Warehouse83Form .Label5Style {
	width:60px; padding-left:8px !important;
}
.Warehouse83Form .Label6Style {
	width:60px; padding-left:25px !important;
}
.AlignRightInput{
	text-align: right !important;
}
.Table21Section table td.NowCols {
    background: url("/resources/images/bg-tdnow.jpg") no-repeat scroll center center transparent;
}
.ulDateImage li{
	background-color: ivory;
}
.ulDateImage li:hover{
	background-color: lightgray;
}
.jstree .jstree-closed a {
    color: black;
}
.TdImage {  height: 20px;
}
.BindFormatOnInputCss{}
.BoxDisSelect span.combo {  background: url("../images/bg_sprites1.png") no-repeat scroll right -40px transparent;  color: #999999;}
/* #routingTree .tree-indent { display: inline-block !important;} */
#routingTree .tree-node-last { 	background: none !important;}
#routingContent .BoxSelect6 .MySelectBoxClass { width:143px; }
#routingContent .BoxSelect6 .CustomStyleSelectBoxInner { width:110px; }
#routingContent .InputTextStyleSetOrder {   border: 1px solid #C4C4C4;  height: 20px; line-height: 20px; margin-bottom: 1px; padding: 4px 4px; text-align: center; width: 90%;}
#approvePOAutoDialogContainerGrid .QuantityProduct {   border: 1px solid #C4C4C4;  height: 20px; line-height: 20px; margin-bottom: 1px; padding: 4px 4px; text-align: right; width: 90%;}
#productSHContainerGrid .QuantityProductSH {   border: 1px solid #C4C4C4;  height: 20px; line-height: 20px; margin-bottom: 1px; padding: 4px 4px; text-align: right; width: 90%;}
.ScrollSectionV1 .BoxGeneralTBody { padding:0 0 11px; }
.VinamilkTheme .combo-p { z-index:100001 !important; }
.VinamilkTheme .combo { 
	}
.VinamilkTheme .combo-text, .VinamilkTheme .combo-arrow { 
	 }
.Table7V1Section .BoxGeneralTBody, .Table7V1Section table { width:1780px; }
.Table7V1Section{ margin:0 0 12px; }
.Table45NVSection .BoxGeneralTBody, .Table45NVSection table { width:2970px; }
.Table45KHV1Section .BoxGeneralTBody, .Table45KHV1Section table { width:3370px; }
.TableUnitTreeSection .BoxGeneralTBody, .TableUnitTreeSection table { width:3100px; }
.ErrorMsgStyle { color:#e50303; font-size:12px; padding:2px 0 5px 29px; background-position:left -370px; margin:5px 0 0 5px; }
.SuccessMsgStyle { color:#0587BB; font-size:12px; padding:10px 10px; }

/* .LoginTheme { background:#fff url(../images/bg_loginloop.jpg) left top repeat-x; height:100%; } */
.LoginTheme { 
	background: #fff url(../images/company-fixed/background-sales-one-company.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
	height:100%;
	 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
     -moz-background-size:100% 100%;          /*  Firefox  */
    background-repeat:no-repeat;
    background-attachment:fixed; 
}
.LoginTheme #LoginContainer { background:url(../images/bg_login.jpg) center top no-repeat; height:100%; width:100%; }
.LoginTheme #LoginContainer {height:100%; width:100%; }
.LoginSection h3 { height:0px; }
.LoginBoxMiddle { position:absolute; top:50%; }
.LoginBoxMiddle[class] { display:table-cell; vertical-align:middle; position:static; }
.LoginTheme .LoginBoxMiddle > #LoginContent { position:relative; top:-50%; display:block; margin:0 auto; }
.BoxEditStateBtm .BoxEditStateLoop { color: #000000;font-size: 11px;text-align: center;}
.BoxEditStateLoop .LabelStyle { text-align: right;  display: inline;margin-bottom: 9px;padding: 3px 3px 0;color: #215EA2}
#productGrid .combo {width: 70px !important}
#productGrid .combo .combo-text {width: 100px !important}
#productGrid .combo .combo-arrow {margin-left: -20px}
#productGridV .combo {width:95px !important}
#productGridV .combo .combo-text {width: 70px !important}
#productGridV .combo .combo-arrow {margin-left: -2px}
#contractGrid .combo {width: 95px !important}
#contractGrid .combo .combo-text {width: 70px !important}
#contractGrid .combo .combo-arrow {margin-left: -2px}
/* .window-shadow {height: 496px !important} */
#right  .ui-dropdownchecklist-selector {width: 350px !important}
#right  .ui-dropdownchecklist-selector span {width: 350px !important}
#saleLevel  .ui-dropdownchecklist-selector {width: 202px !important}
#saleLevel  .ui-dropdownchecklist-selector span {width: 197px !important}
.widthComboTree .combo {width: 225px !important}
/* TABLE */
.GeneralTable .AlignColsCenter { text-align:center; padding:0px 5px; }
.GeneralTable .AlignColsLeft { text-align:left; padding:0px 5px; }
.GeneralTable .AlignColsRight { text-align:right; padding:0px 5px; }
/** SALE PRODUCT */
.COLOR_RED { color: #FF0000}
.COLOR_GREEN {color: #66FF66}
.COLOR_ORANGE {color: #FF6600}
.RequireStyle { color:#F00; }
.BoxEditStateLoop p.RequireStyle { padding:0 10px; }

#approvePOAutoDialog .BtnRPOAutoSection { margin:0px 12px 10px 0px; }
#approvePOAutoDialog .Value2Style { font-weight:bold; margin-right:16px; text-align: left !important;}
.GridHeaderLargeHeight{height: auto !important;}
#excelFile{width:165px !important;}
div#mapRouteMyOverlay{z-index: 10;} /*loctt - Oct25, 2013, change from 1000000 to 10*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

.tree-root-node {
	cursor: pointer; 
	margin-left: 3px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}
.tree-vnm-node {
	cursor: pointer; 
	margin-left: 10px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}
.tree-kenh-node {
	cursor: pointer; 
	margin-left: 17px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}
.tree-mien-node {
	cursor: pointer; 
	margin-left: 25px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}
.tree-vung-node {
	cursor: pointer; 
	margin-left: 40px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}
.tree-vung-con-node {
	cursor: pointer; 
	margin-left: 55px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}
.tree-npp-node {
	cursor: pointer; 
	margin-left: 70px; 
	background: url("//10.30.174.211:9005/nutifood/resources/scripts/plugins/jquery-easyui-1.3.2/themes/default/images/tree_icons.png") no-repeat scroll transparent; 
	background-position: -83px 0;
	width: 15px;
}


/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
/* .VinamilkTheme .combo {
	width:225px !important; 
	} */
	
	
input.k-input.InputTextStyle.InputText1Style {
	height: 15px !important;
}	
span.k-widget.k-combobox.k-header.InputTextStyle.InputText1Style span.k-select {
	height: 10px;
    min-height: 13px;
}
#gridSaleContainer .wtSpreader {
	width: inherit !important;
}
#gridSaleContainer .htCore {
	width: inherit !important;
}
#gridFreeContainer .wtSpreader {
	width: inherit !important;
}
#gridFreeContainer .htCore {
    width: inherit !important;
}

.handsontable .changeInput{color: #1E90FF;}

.icon-error{background:url(../images/dialog/error-icon.png) center center no-repeat; }
.icon-warning{background:url(../images/dialog/warning-icon.png) center center no-repeat;}
.icon-success{background:url(../images/dialog/icon-success.gif) center center no-repeat;}
.row-striped {
	background-color: #EDEDED; 
}

.iconAdd {
	background: url(../images/icon-add.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.iconEdit {
	background: url(../images/icon-edit.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.iconDelete {
	background: url(../images/icon-delete.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.iconCopy {
	background: url(../images/icon_login.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.iconSave {
	background: url(../images/icon-save.jpg	);																																																																														) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.TableLevel .datagrid-header { background:#428BCA; color:#fff; }

.divImageUploadFile {
	float: left;
	padding: 0 10px 10px 0;
	width: 250px;
	height: 50px;
	/*background-color: #eee;*/
}
.divImageUploadFile .imageUpdateShowIcon {
	float: left;
	width: 50px;
	height: 50px;
}

.divImageUploadFile .imageUpdateShowContent {
	float: left;
	padding-left: 10px;
	width: 190px;
	height: 50px;
}

/* upload image*/
.addFileBtn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    
    /*background-image: linear-gradient(to bottom, #0299cb 0px, #56bfe2 100%);*/
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0px;
    
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: transparent;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0px;
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 0px;
    
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 10px;
    padding: 6px 12px 6px 12px;
   	padding: -1px 12px; 
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: white;
}