/*- [ Hack Chrome -*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	button.BtnGeneralStyle { background-position:right -34px; padding-right:5px; }
	button.BtnGeneralStyle:hover { background-position:right -170px; }
	button.BtnGeneralCStyle { background-position:right -238px; }
	button.BtnGeneralCStyle:hover { background-position:right -170px; }
}
/*- ] Hack Chrome -*/