.BoxFrame { position:relative !important; display:block; }
.BoxMiddle { position:absolute !important; }
.InputTextStyle { vertical-align:bottom; line-height:20px; }
.ButtonSection { width:100%; }
button.BtnGeneralStyle { padding-right:5px; overflow:visible; margin-right:8px; }