
/* COLOR n SIZE */

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.ml10 {
    margin-left: 10px;
}

.ml30 {
    margin-left: 30px;
}

.mr15 {
    margin-right: 15px;
}

.ml-10 {
    margin-left: -10px;
}

.mr-10 {
    margin-right: -10px;
}

.min-w-80 {
    min-width: 100px;
}


.text-success {
    color: #43A047;
}

.text-danger {
    color: #E53935;
}

.text-gray-light {
    color: #9e9e9e;
}

.text-transparent {
    color: transparent;
}

.text-orange {
    color: #F4511E;
}

/* HEADER MENU */

.headermenu li {
    border-left: 0;
}

.headermenu button {
    color: #fff;
}

.headermenu .dropdown-toggle:hover,
.headermenu .dropdown-toggle:focus,
.headermenu .dropdown-toggle:active,
.headermenu .dropdown-toggle.active,
.headermenu .open .dropdown-toggle.dropdown-toggle {
    background-color: transparent;
    color: #fff;
}

.headerbar {
    background-color: #F4511E;
    border-bottom: 0;
}

.headerbar .topnav a > i {
    color: #fff;
}

.stickyheader .headerbar {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

.menutoggle {
    border-right: 0;
}

.menutoggle:hover {
    background-color: transparent;
}

/* UI ELEMENTS */

.select2-container.sel-xs {
    margin-top: 3px;
}

.select2-container.sel-xs .select2-choice {
    line-height: 22px;
}

.btn-transparent {
    background: transparent;
    color: #636e7b;
    text-transform: uppercase;
    padding: 0;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active {
    background: transparent;
    border-color: transparent;
    color: #636e7b;
    text-transform: uppercase;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.btn-transparent-orange {
    background: transparent;
    color: #F4511E;
    text-transform: uppercase;
    padding: 0;
}

.btn-transparent-orange:hover,
.btn-transparent-orange:focus,
.btn-transparent-orange:active,
.btn-transparent-orange.active {
    background: transparent;
    border-color: transparent;
    color: #F4511E;
    text-transform: uppercase;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover {
    color: #f4511e;
}

.dropdown-menu > li > a {
    text-transform: capitalize;
}

.dropdown-menu > li > a > i {
    color: #f4511e;
}

/* NAV */

.nav-bracket > li > a:hover,
.nav-bracket > li > a:active,
.nav-bracket > li > a:focus {
    background-color: #F4511E;
    color: #fff;
}

.nav-bracket > li.nav-parent > a {
    background: transparent url(../images/plus-white.png) no-repeat 92% center;
}

.nav-bracket > li.nav-parent > a:hover {
    background-color: #F4511E;
    color: #fff;
}

.nav-bracket > li.nav-active > a {
    background-color: #F4511E;
    background-image: url(../images/minus.png);
    color: #fff;
}

.nav-bracket > li.nav-active > a:hover {
    background-image: url(../images/minus.png);
    background-repeat: no-repeat;
}

.nav-bracket > li.nav-active > a,
.nav-bracket > li.nav-active > a:focus,
.nav-bracket > li.nav-active > a:active {
    background-color: #F4511E;
    color: #fff;
}

.nav-bracket .children > li > a:hover,
.nav-bracket .children > li > a:active,
.nav-bracket .children > li > a:focus {
    text-decoration: none;
    color: #fff;
}

.leftpanel-collapsed .nav-bracket > li.nav-hover > a,
.leftpanel-collapsed .nav-bracket > li.nav-hover > a > span:last-child {
    background-color: #F4511E;
    color: #fff;
}

/* PANEL MODAL */

.panel {
    background-color: #fff;
}

.panel-heading {
    border: 0;
}

.panel-title {
    color: #333;
}

/* IMPORT */

#Import input {
    position: relative;
}

#Import i {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* CONTENT */

.mainpanel {
    background-color: #fafafa;
}

.contentpanel {
    background-color: #fafafa;
}

.heading {
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    color: #636e7b;
    font-size: 12px;
    text-transform: uppercase;
}

/* FILTER */

#filter {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 5px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

/* ROWS PER PAGE */

#rowspp .dropdown-menu {
    min-width: 20px;
    top: -350%;
    left: 0;
    right: auto;
}

#rowspp .dropdown-menu > .active > a,
#rowspp .dropdown-menu > .active > a:hover,
#rowspp .dropdown-menu > .active > a:focus {
    background-color: #f4511e;
    color: #fff;
}

#rowspp .btn-group {
    margin: 0;
}

/* PAGINATION */

#pagination .btn-transparent {
    font-size: 10px;
}

#pagination .btn-transparent:hover,
#pagination .btn-transparent:focus,
#pagination .btn-transparent:active,
#pagination .btn-transparent.active,
#pagination .open .dropdown-toggle.btn-transparent {
    font-size: 10px;
}

#pagination {
    margin-top: 2px;
}

/* TABLE */

.table > thead > tr > th {
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #c4c4c4;
}

.table > tbody > tr > td:last-child {
    border-bottom: 3px solid #fafafa;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(250, 250, 250, 0.5);
}

.table-striped > tbody > tr > td {
    background-color: #fff;
    border-color: rgba(250, 250, 250, 0.5);
}

/* LIST */

#list {
    background-color: #fff;
    margin: 15px 0;
    padding: 15px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}
#list .table-responsive a {
    color: #636e7b;
}

.pageheader {
    background-color: #fafafa;
    padding-left: 30px;
}