body {
    background: #333;
}

a {
    color: #F4511E;
}

.logopanel {
    background-color: #2c2c2c;    
}

.logopanel h1 {
    color: #fff;
}

.logopanel h1 span {
    color: #F4511E;
}

.fixed section {
    background-color: #333;
}


/* HEADER */

.headerbar {
    background-color: #e4e7ea;
    border-left: 0;
    border-bottom: 1px solid #ccc;
}

.menutoggle {
    border-right-color: #ccc;
}

.rtl .menutoggle {
    border-right: 0;
    border-left: 1px solid #ccc;
}

.menutoggle:hover {
    background-color: rgba(0,0,0,0.05);
}

.searchform input {
    height: auto;
    padding: 7px 10px;
    margin: 8px 0 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.rtl .searchform input {
    margin: 8px 8px 0 0;
}

.leftpanel .searchform {
    margin-left: 10px;
    margin-right: 10px;
}

.headermenu .tp-icon {
    background: none;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.headermenu > li {
    border-left-color: #ccc;
}

.headermenu > li:first-child {
    border-right-color: #ccc;
}

.headermenu .dropdown-toggle:hover,
.headermenu .dropdown-toggle:focus,
.headermenu .dropdown-toggle:active,
.headermenu .dropdown-toggle.active,
.headermenu .open .dropdown-toggle.dropdown-toggle {
    background-color: rgba(0,0,0,0.05);
}

.headermenu .chat-icon:hover {
    background-color: rgba(0,0,0,0.05);
}

.headermenu .dropdown-toggle {
    background: none;
}

.headermenu .dropdown-menu-usermenu li a:hover {
    background-color: #F4511E;
}

.dropdown-menu-head .title,
.headermenu .dropdown-menu-usermenu {
    background-color: #2c2c2c;
}

.headermenu .dropdown-menu:after {
    border-bottom-color: #2c2c2c;
}

.stickyheader .headerbar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.headerbar .topnav > ul > li > a:hover,
.headerbar .topnav > ul > li > a:focus,
.headerbar .topnav > ul > li.open > a,
.headerbar .topnav > ul > li.active > a {
    color: #F4511E;
    -moz-box-shadow: 0 3px 0 #F4511E;
    -webkit-box-shadow: 0 3px 0 #F4511E;
    box-shadow: 0 3px 0 #F4511E;
    
}

.headerbar .topnav > ul > li .dropdown-menu > li > a:hover {
    background-color: #F4511E;
}


/* LEFTPANEL */

.leftpanelinner {
    border-top: 1px solid #393939;
    padding-left: 0;
    padding-right: 0;
}

.leftpanelinner .searchform input {
    background-color: #fff;
}

.leftpanel .sidebartitle {
    padding-left: 10px;
    padding-right: 10px;
    color: #555;
}

.leftpanel .userlogged {
    padding-left: 10px;
}

.nav-bracket {
    border-top: 1px solid #393939;
}

.nav-bracket > li + li {
    margin: 0;
}

.nav-bracket > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 10px;
    border-bottom: 1px solid #393939;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.nav-bracket > li.active > a,
.nav-bracket > li.active > a:hover,
.nav-bracket > li.active > a:focus {
    background-color: #F4511E;
    background-image: none;
}

.nav-bracket > li.active > a {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-bracket > li > a:hover,
.nav-bracket > li > a:active,
.nav-bracket > li > a:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #2c2c2c;
    color: #fff;
}

.nav-bracket > li.nav-parent > a,
.nav-bracket > li.nav-parent.active > a {
    background-image: none;
}

.nav-bracket > li.nav-parent > a:after {
    position: absolute;
    top: 10px;
    right: 16px;
    font-family: 'FontAwesome';
    /*content: '\f107';*/
    opacity: 0.5;
}

.rtl .nav-bracket > li.nav-parent > a:after {
    right: auto;
    left: 16px;
}

.nav-bracket > li.nav-parent > a:hover,
.nav-bracket > li.nav-parent > a:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #2c2c2c;
    color: #fff;
}

.nav-bracket > li.nav-active > a,
.nav-bracket > li.nav-active > a:focus,
.nav-bracket > li.nav-active > a:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #2c2c2c;
    color: #fff;
}

.nav-bracket .children {
    background-color: #313131;
    margin: 0;
    border-bottom: 1px solid #393939;
}

.nav-bracket > li > a > .badge {
    background-color: #fff;
    color: #333 !important;
}

.nav-bracket .children > li > a:hover,
.nav-bracket .children > li > a:active,
.nav-bracket .children > li > a:focus {
    color: #fff;
}

.nav-bracket .children > li.active > a {
    color: #fff;
}

.nav-bracket > li.nav-active.active > a,
.nav-bracket > li.nav-parent.active > a:active,
.nav-bracket > li.nav-parent.active > a:focus {
    background-image: none;
}

.nav-bracket > li.nav-active.active > a,
.nav-bracket > li.nav-active.active > a:hover,
.nav-bracket > li.nav-active.active > a:active
.nav-bracket > li.nav-active.active > a:focus {
    background-color: #F4511E;
    background-image: none;
}

.nav-bracket .children > li > a {
    padding-right: 10px;
}

.infosummary ul > li {
    padding-left: 10px;
    padding-right: 10px;
}

.leftpanel-collapsed .leftpanelinner {
    border-top: 0;
}

.leftpanel-collapsed .nav-bracket {
    margin: 0;
    border-top: 0;
}

.leftpanel-collapsed .nav-bracket > li > a,
.leftpanel-collapsed .nav-bracket > li > a:hover {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a,
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a > span:last-child {
    background-color: #F4511E;
    color: #fff;
}

.leftpanel-collapsed .nav-bracket > li.nav-hover > a,
.leftpanel-collapsed .nav-bracket > li.nav-hover > a > span:last-child {
    background-color: #2c2c2c;
    color: #fff;
}

.leftpanel-collapsed .nav-bracket > li > a > span:last-child {
    left: 42px;
    min-width: 207px;
}

.leftpanel-collapsed .nav-bracket > li.active > a > span:last-child {
    border-bottom-right-radius: 2px;
}

.leftpanel-collapsed .nav-bracket > li.nav-parent.nav-hover > a > span:last-child {
    border-bottom-right-radius: 0;
}

.rtl .leftpanel-collapsed .nav-bracket > li.nav-parent.nav-hover > a > span:last-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0;
    right: 42px;
}

.leftpanel-collapsed .nav-bracket li.nav-hover ul {
    background-color: #333;
    border-top: 1px solid #393939;
    
}

.leftpanel-collapsed .nav-bracket li.nav-hover ul > li {
    padding-left: 5px;
}

.leftpanel-collapsed .nav-bracket > li.nav-parent > a:after {
    display: none;
}




/* MAINPANEL */

.mainpanel {
    background-color: #fff;
}

.pageheader {
    border-top: 0;
    border-bottom-width: 0;
    padding-bottom: 0;
    background-color: transparent;
}

.pageheader h2 {
    color: #2c2c2c;
}

.pageheader .glyphicon,
.pageheader .fa {
    border-width: 0;
    font-size: 32px;
    margin-right: 0;
}

.pageheader .breadcrumb-wrapper {
    top: 30px;
}

.panel {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default {
    border: 1px solid #d7d7d7;
}

.panel-primary .panel-body,
.panel-success .panel-body,
.panel-warning .panel-body,
.panel-info .panel-body,
.panel-danger .panel-body,
.panel-dark .panel-body {
    border: 1px solid #d7d7d7;
    border-top: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.panel-primary .panel-footer {
    border: 1px solid #d7d7d7;
    border-top: 0;
}

.panel-heading p {
    margin-top: 5px;
}

.panel-dark .panel-heading,
.widget-profile .row > div > span,
.widget-weather .panel-body {
    background-color: #202122;
}

.panel-default .panel-heading {
    background-color: #f9f9f9;
}

.panel-dark .panel-heading {
    background-color: #333;
}

.panel-body {
    background-color: #fff;
}


/* dashboard */

.panel-stat {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-stat.panel-success .panel-heading {
    background-color: #F4511E;
}

.panel-stat.panel-primary .panel-heading {
    background-color: #f0ad4e;
}

/* email */

.nav-email > li.active > a,
.nav-email > li.active > a:hover,
.nav-email > li.active > a:focus {
    background-color: #F4511E;
}

.nav-email > .active > a > .badge {
    color: #333;
}

.table-email > tbody > tr > td {
    border: 1px solid #ddd;
}

.panel-email .text-primary {
    color: #F4511E;
}

.panel-email .panel-default {
    border: 0;
    background-color: #fff;
}

.panel-email .panel-body {
    padding: 0;
}

/* table */

.table {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* blog */

.blog-details {
    border: 1px solid #eee;
    border-top: 0;
}

.panel-blog {
    border: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-blog .panel-body {
    padding: 0;
}

/* file manager */

.filemanager-options {
    border: 1px solid #ddd;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filemanager .thmb {
    border-color: #ddd;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* directory */

.letter-list {
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

.people-item {
    border: 1px solid #e3e3e3;
}

.letter-list {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.letter-list li a:hover {
    background-color: #F4511E;
}

.person-name {
    color: #F4511E;   
}

/* rightpanel */

.rightpanel .nav-tabs {
    background-color: #2c2c2c;
}

.rightpanel .nav-tabs > li > a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.05);
}

.rightpanel .nav-tabs > .active > a,
.rightpanel .nav-tabs > .active > a:hover,
.rightpanel .nav-tabs > .active > a:focus {
    background-color: #333;
}

/* signin/signup */

body.notfound, body.signin {
    background-color: #fff;
}

.signin-info .logopanel h1,
.signup-info .logopanel h1 {
    color: #333;
}

.feat-list h4 {
    color: #F4511E;
}

.signinpanel form,
.signuppanel form {
    background-color: #f7f7f7;
}

/* bootstrap override */

.fileupload .uneditable-input {
    height: 39px;
}

.btn-orange {
    background-color: #F4511E;
    border-color: #E64A19;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #E64A19;
    border-color: #b44804;
}

.basic-wizard .pager li a {
    background-color: #F4511E;
    border-color: #E64A19;
}

.basic-wizard .pager li a:hover,
.basic-wizard .pager li a:active,
.basic-wizard .pager li a:focus {
    background-color: #F4511E;
    border-color: #E64A19;
}


/* custom */

.text-orange {
    color: #F4511E;
}


/* nhiho changed: bf4c04 to e64A19; dd5702 to f4511e */
