{#foreach $T.rows as attr}	
	<tr>
		<td class="ColsTd1">{$T.attr$iteration+1}</td>
        <td class="ColsTd1">{$T.attr.attributeCode}</td>
        <td class="ColsTd2ColsAlignLeft">{$T.attr.attributeName}</td>
        <td class="ColsTd3 ColsTdEnd"><input id="chk_attr_{$T.attr.id}" class="chkAttribute" type="checkbox" /></td>                                                                  
    </tr>
{#/for}
