/**@deprecated**/
.uploadifyQueue { overflow:hidden; width:100%; }
.uploadifyQueueItem { border:1px solid #BBB; background-color: #E6F3F8; padding:2px; width:155px; margin:5px 3px 0 0; color: #999; font:11px Tahoma; float:left; }
.uploadifyError { border: 1px solid #FBCBBC !important; background-color: #FDE5DD !important; }
.uploadifyQueueItem .cancel { float: right; }
.uploadifyProgress { background-color: #FFFFFF; border-top: 1px solid #808080; border-left: 1px solid #808080; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5; margin-top: 5px; width:498px; display:none; }
#chatFileInputUploader, #fileInputStatusUploader, #fileInput1Uploader, #fileInputStatus2Uploader, #fileInputCommentUploader, #UGCHeaderDlg #fileInputStatusUploader { float:left; margin:0 7px 0 0; }
.BoxDialogBtm .FormStatus .uploadifyQueue { position:absolute; top:-36px; }
