.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url(../../../../../resources/images/icon_add.png) no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url(../../../../../resources/images/icon_delete.png) no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
/*icon Tree MenuOptionSeclect*/
.icon9 { background:url(../../../../../resources/images/icon_addgGDM.png) no-repeat center center !important; display:inline-block !important; }
.icon2 { background:url(../../../../../resources/images/icon_addGDM.png) no-repeat center center !important; display:inline-block !important; }
.icon3 { background:url(../../../../../resources/images/icon_addgTBHV.png) no-repeat center center !important; display:inline-block !important; }
.icon4 { background:url(../../../../../resources/images/icon_addTBHV.png) no-repeat center center !important; display:inline-block !important; }
.icon5 { background:url(../../../../../resources/images/icon_addgNSNPP.png) no-repeat center center !important; display:inline-block !important; }
.icon6 { background:url(../../../../../resources/images/icon_addNSNPP.png) no-repeat center center !important; display:inline-block !important; }
.icon7 { background:url(../../../../../resources/images/icon_selectNSNPP.png) no-repeat center center !important; display:inline-block !important; }
.icon8 { background:url(../../../../../resources/images/icon_addNVBH.png) no-repeat center center !important; display:inline-block !important; }

/*icon treemenu*/
.tricon1 { background:url(default/images/icon_addgGDM.png) no-repeat center center !important; display:inline-block !important; }
.tricon2 { background:url(default/images/icon_addGDM.png) no-repeat center center !important; display:inline-block !important; }
.tricon3 { background:url(default/images/icon_addgNSNPP.png) no-repeat center center !important; display:inline-block !important; }
.tricon4 { background:url(default/images/icon_addNSNPP.png) no-repeat center center !important; display:inline-block !important; }
.tricon5 { background:url(default/images/icon_addgTBHV.png) no-repeat center center !important; display:inline-block !important; }
.tricon6 { background:url(default/images/icon_addNVBH.png) no-repeat center center !important; display:inline-block !important; }
.tricon7 { background:url(default/images/icon_addTBHV.png) no-repeat center center !important; display:inline-block !important; }
.tricon8 { background:url(default/images/icon_selectNSNPP.png) no-repeat center center !important; display:inline-block !important; }
.triconline { background:url(default/images/icon_line.png) no-repeat center center !important; display:inline-block !important; margin-left:1px !important; padding-left:0 !important; }
.triconplus { background:url(default/images/icon_lineplus.png) no-repeat center center !important; display:inline-block !important; margin-left:1px !important; padding-left:0 !important; }


